= render partial: 'steps'

.row
  .padded_page_span.section
    .head
      %h3= @error.title
      .description
        #{@error.message.html_safe}
        - if @error.can_retry?
          %p
            You can try again by
            #{link_to "changing the information", :search}, or you can instead
            #{link_to "register to vote", :new_registration, id: "register"}.

