= render partial: 'shared/page_header', locals: { title: 'Check Your Voter Record' }

.row
  .span4
    %h3 Identify Yourself
    %p
      To look up your voter records, you have two options.
      If you know your Virginia <em>Voter Card Number</em>,
      you can supply that. Otherwise, provide your first name,
      last name, date of birth, and the last 4 digits of your
      Social Security Number.

  .span8
    = simple_form_for @search_query, url: search_path, html: { class: 'form-horizontal' } do |ui|
      %fieldset
        = ui.input :voter_id, label: 'Voter ID', placeholder: 'NNNN-NNNN-NNNN-NNNN'

      %fieldset
        %legend.separator or

        = ui.input :locality, label: 'Locality', collection: [ 'York County' ]
        = ui.input :first_name
        = ui.input :last_name
        = ui.input :dob, as: :date, label: 'Date of birth', order: [ :day, :month, :year ]
        = ui.input :ssn4, label: 'Last 4 digits of SSN', maxlength: 4, input_html: { class: 'span1' }

      .form-actions
        = ui.submit 'Find My Voter Records', disabled: true, class: 'btn'

