- unless no_forms?
  = render partial: 'steps'
- else
  .row
    .padded_page_span.welcome
      .head
        %h2 Welcome
        %p
          We've created this service to help all Virginia voters -- domestic, military, and overseas --
          by providing you with access to your voter record, and information about voter registration,
          updating your record, and your options for how to vote.
        %p
          To get started, use the form below to check whether you are registered to vote, and to view your voter information if so.


.row
  .padded_page_span.section
    .head
      %h3 Identity
      .description Identify who you are to look-up your Virginia Voter Record.

    %p
      To look-up your Virginia Voter Record, you'll need to provide your first name,
      last name, date of birth, locality, and the last 4 digits of your
      Social Security Number. You can also identify using the voter identification
      number on your voter card, by selecting "Use Voter ID" below.

    = form_for @search_query, url: search_path do |f|
      .row
        .radio
          = f.radio_button :lookup_type, 'ssn4', 'data-bind' => 'checkedWithInit: lookupType'
          %label( for='search_query_lookup_type_ssn4' ) Use SSN4
        .radio
          = f.radio_button :lookup_type, 'vid', 'data-bind' => 'checkedWithInit: lookupType'
          %label( for='search_query_lookup_type_vid' ) Use Voter ID

      <!-- ko if: lookupType() == "ssn4" -->
      .partition
        .row
          .span3
            %label( for='search_query_first_name' ) First name
            = f.text_field :first_name, 'data-bind' => 'instantValidation: { accessor: "firstName" }'
          .span3
            %label( for='search_query_last_name' ) Last name
            = f.text_field :last_name, 'data-bind' => 'instantValidation: { accessor: "lastName" }'
          .span4
            %label( for='search_query_dob' ) Date of birth
            = bound_date f, :dob, { object_name: 'search_query', start_year: Date.today.year - 120, end_year: Date.today.year - 17 }, { class: 'date' }

        .row
          .span3.numbers
            %label( for='search_query_ssn4' ) Last 4 digits of SSN
            = f.text_field :ssn4, placeholder: 'NNNN', maxlength: 4, class: 'span1', 'data-bind' => 'instantValidation: { accessor: "ssn4", validation: "ssn4", resetAlso: ".numbers" }'
          .span3
            %label( for='search_query_locality' ) Locality
            = f.select :locality, Office.localities, { include_blank: true }, 'data-bind' => 'instantValidation: { accessor: "locality" }', id: 'locality_ssn'
      <!-- /ko -->

      <!-- ko if: lookupType() == "vid" -->
      .partition{ 'data-bind' => 'if: lookupType() == "vid"' }
        .row
          .span3.numbers
            %label( for='search_query_voter_id' ) Voter ID
            = f.text_field :voter_id, label: 'Voter ID', placeholder: 'NNNNNNNNN', maxlength: 9, 'data-bind' => 'instantValidation: { accessor: "voterId", validation: "voterId", resetAlso: ".numbers" }'
          .span3
            %label( for='search_query_locality' ) Locality
            = f.select :locality, Office.localities, { include_blank: true }, 'data-bind' => 'instantValidation: { accessor: "locality" }', id: 'locality_vid'
      <!-- /ko -->

      .partition
        .checkbox
          = check_box_tag :swear, 1, false, 'data-bind' => 'instantValidation: { accessor: "swear" }'
          %label{ for: 'swear' }
            I swear/affirm, under felony penalty for making willfully false material statements or entries, that the
            information provided to access my voter registration record are my own.


      .form-actions
        = button_tag "Next &rarr;".html_safe, class: 'next btn', 'data-bind' => 'css: { disabled: invalid }, click: submit'
