= render partial: 'steps'

.row
  .padded_page_span.section
    .head
      %h3 Identity
      .description Identify who you are to look-up your Virginia Voter Record.

    %p
      To look-up your Virginia Voter Record, you'll need to provide either your Virginia Voter Card Number OR
      your first name, last name, date of birth, and the last 4 digits of your Social Security Number.

    = form_for @search_query, url: search_path do |f|
      .partition
        .row
          .span3
            %label First name
            = f.text_field :first_name, 'data-bind' => 'instantValidation: { accessor: "firstName" }'
          .span3
            %label Last name
            = f.text_field :last_name, 'data-bind' => 'instantValidation: { accessor: "lastName" }'
          .span4
            %label Date of birth
            = bound_date f, :dob, { object_name: 'search_query', start_year: Date.today.year - 120, end_year: Date.today.year - 17 }, { class: 'date' }
        .row
          .span3
            %label Locality
            = f.select :locality, Dictionaries::CITIES_AND_COUNTIES, { include_blank: true }, 'data-bind' => 'instantValidation: { accessor: "locality" }'

      .partition
        .row
          .span4.numbers
            %span Voter ID
            = f.text_field :voter_id, label: 'Voter ID', placeholder: 'NNNNNNNNN', 'data-bind' => 'instantValidation: { accessor: "voterId", validation: "voterId", resetAlso: ".numbers" }'

          .span2
            %br
            %span OR

          .span3.numbers
            %label Last 4 digits of SSN
            = f.text_field :ssn4, maxlength: 4, class: 'span1', 'data-bind' => 'instantValidation: { accessor: "ssn4", resetAlso: ".numbers" }'

      .partition
        .checkbox
          = check_box_tag :swear, 1, false, 'data-bind' => 'instantValidation: { accessor: "swear" }'
          %label{ for: 'swear' }
            I swear/affirm, under felony penalty for making willfully false material statements or entries, that the
            information provided to access my voter registration record are my own.


      .form-actions
        = button_tag "Next &rarr;".html_safe, class: 'next btn', 'data-bind' => 'css: { disabled: invalid }, click: submit'
