- if no_forms?
  .row
    .padded_page_span.welcome
      .head
        %h2= raw t('search.no_forms.title')
        = raw t('search.no_forms.details')


.row
  .padded_page_span.section{ class: no_forms? ? nil : "welcome" }
  
    - if params[:continue_with_registration].blank?
      .head
        %h3= raw t('search.title')
        .description= raw t('search.subtitle')

      = raw t('search.details')
    - else 
      .head
        %h3= raw t('search.as_registration_first_step.title')
        .description= raw t('search.as_registration_first_step.subtitle')

      = raw t('search.as_registration_first_step.details')
    

    = form_for @search_query, url: search_path do |f|
      = hidden_field_tag :continue_with_registration, params[:continue_with_registration]
      - if lookup_service_config['id_and_locality_style']
        .row
          .radio
            = f.radio_button :lookup_type, 'ssn4', 'data-bind' => 'checkedWithInit: lookupType'
            %label( for='search_query_lookup_type_ssn4' )= t('search.via_ssn.option')
          .radio
            = f.radio_button :lookup_type, 'vid', 'data-bind' => 'checkedWithInit: lookupType'
            %label( for='search_query_lookup_type_vid' )= t('search.via_vid.option')

        .partition{ 'data-bind' => 'visible: lookupType() == "ssn4"' }
          .row
            .span3
              %label( for='search_query_first_name' )= t('search.via_ssn.first_name')
              = f.text_field :first_name, 'data-bind' => 'instantValidation: { accessor: "firstName" }'
            .span3
              %label( for='search_query_last_name' )= t('search.via_ssn.last_name')
              = f.text_field :last_name, 'data-bind' => 'instantValidation: { accessor: "lastName" }'
            .span4
              %label( for='search_query_dob' )= t('search.via_ssn.dob')
              = bound_date f, :dob, { object_name: 'search_query', start_year: Date.today.year - 120, end_year: Date.today.year - 17 }, { class: 'date' }

          .row
            .span3.numbers
              %label( for='search_query_ssn4' )= t('search.via_ssn.ssn4')
              = f.text_field :ssn4, placeholder: 'NNNN', maxlength: 4, class: 'span1', 'data-bind' => 'instantValidation: { accessor: "ssn4", validation: "ssn4", resetAlso: ".numbers" }'
            .span3
              %label( for='locality_ssn' )= t('search.via_ssn.locality')
              = f.select :locality, Office.localities, { include_blank: true }, 'data-bind' => 'instantValidation: { accessor: "locality" }', id: 'locality_ssn'

        .partition#vid{ 'data-bind' => 'visible: lookupType() == "vid"' }
          .row
            .span3.numbers
              %label( for='search_query_voter_id' )= t('search.via_vid.voter_id')
              = f.text_field :voter_id, label: 'Voter ID', placeholder: 'NNNNNNNNN', maxlength: 9, 'data-bind' => 'instantValidation: { accessor: "voterId", validation: "voterId", resetAlso: ".numbers" }'
            .span3
              %label( for='locality_vid' )= t('search.via_vid.locality')
              = f.select :locality, Office.localities, { include_blank: true }, 'data-bind' => 'instantValidation: { accessor: "locality" }', id: 'locality_vid'
            .span4
              %label( for='search_query_dob' )= t('search.via_vid.dob')
              = bound_date f, :dob, { object_name: 'search_query', start_year: Date.today.year - 120, end_year: Date.today.year - 17 }, { class: 'date' }

        .partition
          .checkbox
            = check_box_tag :swear, 1, false, 'data-bind' => 'instantValidation: { accessor: "swear" }'
            %label{ for: 'swear' } #{raw t('search.affirmation')}
      - else 
        .partition
          .row
            - if lookup_service_config['first_name']
              .span3
                %label( for='search_query_first_name' )= t('search.first_name')
                = f.text_field :first_name, 'data-bind' => 'instantValidation: { accessor: "firstName" }'
            - if lookup_service_config['last_name']
              .span3
                %label( for='search_query_last_name' )= t('search.last_name')
                = f.text_field :last_name, 'data-bind' => 'instantValidation: { accessor: "lastName" }'
            - if lookup_service_config['date_of_birth']
              .span4
                %label( for='search_query_dob' )= t('search.dob')
                = bound_date f, :date_of_birth, { object_name: 'search_query', start_year: Date.today.year - 120, end_year: Date.today.year - 17 }, { class: 'date' }
        
        - if lookup_service_config['street_number'] || lookup_service_config['street_name'] || lookup_service_config['street_type']
          .partition
            .row
              - if lookup_service_config['street_number']
                .span2
                  %label( for='search_query_street_number' )= t('search.street_number')
                  = f.text_field :street_number, 'data-bind' => 'instantValidation: { accessor: "streetNumber" }', class: 'span2'
              - if lookup_service_config['street_name']
                .span4
                  %label( for='search_query_street_name' )= t('search.street_name')
                  = f.text_field :street_name, 'data-bind' => 'instantValidation: { accessor: "streetName" }', class: 'span4'
              - if lookup_service_config['street_type']
                .span3
                  %label( for='search_query_street_type' )= t('search.street_type')
                  = f.text_field :street_type, 'data-bind' => 'instantValidation: { accessor: "streetType" }'
        - if lookup_service_config['vvr_address_1'] || lookup_service_config['vvr_town'] || lookup_service_config['vvr_zip5']
          .partition
            .row
              - if lookup_service_config['vvr_address_1']
                .span4
                  %label( for='search_query_street_number' )= t('search.vvr_address_1')
                  = f.text_field :vvr_address_1, 'data-bind' => 'instantValidation: { accessor: "vvrAddress1" }', class: 'span4'
              - if lookup_service_config['vvr_town']
                .span3
                  %label( for='search_query_street_name' )= t('search.vvr_town')
                  = f.text_field :vvr_town, 'data-bind' => 'instantValidation: { accessor: "vvrTown" }', class: 'span3'
              - if lookup_service_config['vvr_zip5']
                .span2
                  %label( for='search_query_street_type' )= t('search.vvr_zip5')
                  = f.text_field :vvr_zip5, 'data-bind' => 'instantValidation: { accessor: "vvrZip5" }', class: 'span2'
          
        .partition
          .row
            - if lookup_service_config['identification_document']
              .span5
                %label( for='search_query_id_document_number' )= t('search.id_document_number')
                = f.text_field :id_document_number, 'data-bind' => 'instantValidation: { accessor: "idDocumentNumber" }', class: 'span5'
              .span5
                %label( for='search_query_id_document_type' )= t('search.id_document_type')
                = f.select :id_document_type, lookup_service_field_options(:identification_document), { include_blank: true }, { autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "idDocumentType" }'}
                
        
        

      .form-actions
        = button_tag "Next", class: 'next bt', 'data-bind' => 'css: { disabled: invalid }, click: submit'
