- [[:am_registered, :search], [:add_to_register, :register_residential], [:add_to_intl_register, :register_overseas], [:update_information, :search], [:removal_from_register, :search]].each do |r,m|
  .row.options.stacked
    %h3= raw t("front.options.#{r}.title")
    %h4= raw t("front.options.#{r}.subtitle")
    %p= raw t("front.options.#{r}.text")
    = link_to t("front.options.#{r}.button"), m, class: "residential bt right"
