.stacked-layout
  .row.options.stacked
    - [[:am_registered, :search], [:add_to_register, :register_residential], [:add_to_intl_register, '#'], [:update_information, :search], [:removal_from_register, '#']].each do |r,m|
      .span6
        %h3= raw t("front.options.#{r}.title")
        %h4= raw t("front.options.#{r}.subtitle")
        %p= raw t("front.options.#{r}.text")
        - if [:register_residential, :register_overseas, :search].include?(m)
          = link_with_privacy_act_to t("front.options.#{r}.button"), m, class: "residential bt right"
        - else
          = link_to t("front.options.#{r}.button"), m, class: "residential bt right"