- [:am_registered, :add_to_register, :add_to_intl_register, :update_information, :removal_from_register].each do |r|
  .row.options.stacked
    %h3= raw t("front.options.#{r}.title")
    %h4= raw t("front.options.#{r}.subtitle")
    %p= raw t("front.options.#{r}.text")
    = link_to t("front.options.#{r}.button"), '#', class: "residential bt right"
