.stacked-layout
  .row.options.stacked
    - [[:am_registered, :search, :enable_search], [:add_to_register, :register_residential, :enable_new_registration], [:add_to_intl_register, '#', :enable_uocava_new_registration], [:update_information, :search, :enable_update_registration], [:new_absentee_request, :new_absentee_request, :enable_new_absentee_request], [:set_privacy, '#', :enable_set_privacy], [:removal_from_register, '#', :enable_remove_registration]].each do |r,m,conf|
      - if AppConfig[conf.to_s]
        .span6
          %h3= raw t("front.options.#{r}.title")
          %h4= raw t("front.options.#{r}.subtitle")
          %p= raw t("front.options.#{r}.text")
          - class_list =  "residential bt right #{'disabled' if m == '#'}"
          - if [:register_residential, :register_overseas, :search].include?(m)
            = link_with_privacy_act_to t("front.options.#{r}.button"), m, class: class_list
          - else
            = link_to t("front.options.#{r}.button"), m, class: class_list