#address.section{ 'data-bind' => 'vis: page() == "address"' }
  .head
    %h3 Registration address
    .description Registration address is your Home address in Virginia or your most recent Virginia residence.
  <!-- ko ifnot: vvrIsRural -->
  .row
    .span3
      %span
        Street number
      = f.text_field :vvr_street_number, 'data-bind' => 'value: vvrStreetNumber'
    .span3
      %span
        Street name
      = f.text_field :vvr_street_name, 'data-bind' => 'value: vvrStreetName'
    .span2.street-type-field
      %span
        Street type
      = f.select :vvr_street_type, Dictionaries::STREET_TYPES, { include_blank: true }, { class: 'span1', 'data-bind' => 'value: vvrStreetType' }
    .span2.lot-field
      %span
        Apt/Lot
        %label (optional)
      = f.text_field :vvr_apt, { 'data-bind' => 'value: vvrApt' }
  .row
    .span3
      %span City
      = f.text_field :vvr_town_or_city, { 'data-bind' => 'value: vvrCity' }
    .span2.state-field
      %span State
      = f.select :vvr_state, [ 'VA' ], {}, { class: 'span3', 'data-bind' => 'value: vvrState' }
    .span3.zip-field
      %span Zip code
      = f.text_field :vvr_zip5, class: 'first-zip', 'data-bind' => 'value: vvrZip5', placeholder: '12345'
      .space &mdash;
      = f.text_field :vvr_zip4, class: 'second-zip', 'data-bind' => 'value: vvrZip4', placeholder: '1234'
  .row
    .span3
      %span County or city
      = f.select :vvr_county_or_city, Dictionaries::CITIES_AND_COUNTIES, { include_blank: true }, { class: 'span3', 'data-bind' => 'value: vvrCountyOrCity' }
  <!-- /ko -->

  .row
    .span12
      .checkbox
        = f.check_box :vvr_is_rural, 'data-bind' => 'checked: vvrIsRural'
        Rural address or homeless? Please check the box and describe where you reside.
      <!-- ko if: vvrIsRural -->
      = f.text_area :vvr_rural, cols: "10", rows: "10", 'data-bind' => 'value: vvrRural'
      <!-- /ko -->

  <!-- ko if: overseas -->
  .row
    .span12
      .radio
        = radio_button :registration_request, :vvr_uocava_residence_available, 'yes', { 'data-bind' => 'checked: vvrOverseasRA' }
        %label My Virginia residence is still available to me
      .radio
        = radio_button :registration_request, :vvr_uocava_residence_available, 'no', { 'data-bind' => 'checked: vvrOverseasRA' }
        %label My Virginia residence is no longer available to me
  <!-- ko if: vvrOverseasRA() == 'no' -->
  .row
    .span12
      %span My last date of residence at the above address was:
      = date_select :registration_request, :vvr_uocava_residence_unavailable_since, { order: [ :day, :month, :year ] }, class: 'date'
  <!-- /ko -->
  <!-- /ko -->
