#complete_registration.section
  = f.inputs 'Registration Statement' do
    = f.toggles do
      = f.check_box :information_correct, 'I swear/affirm, under felony penalty for making willfully false material statements or entries, that the information provided above is true.'

  = f.inputs 'Privacy Act Notice' do
    = f.toggles do
      %textarea.span8.privacy{ rows: 5 }
        Privacy Act Notice: Article II, Section 2 of the Constitution of Virginia (1971) requires that a person registering to vote provide his or her social security number, if any. Therefore, if you do not provide your social security number, your application for voter registration will be denied. Section 7 of the Federal Privacy Act (Public Law Number 93-579) allows the Commonwealth to enforce this requirement, but also requires that you be advised that state and local voting officials will use the social security number as a unique identifier to ensure that no person is registered in more than one place. This registration card will not be open to inspection by the public. Your social security number will appear on reports produced only for official use by voter registration and election officials, and for jury selection purposes by courts.
      = f.check_box :privacy_agree, 'I have read and agree with the terms of the Privacy Act Notice.'

  .actions
    = f.button '&larr; Back'.html_safe, class: 'back btn'
    = f.button 'Next &rarr;'.html_safe, class: 'next btn'
