#contact_info.section
  .domestic
    %p DOMESTIC. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at elit vitae quam tempor eleifend at a est. Pellentesque vulputate ornare tortor, in tempus turpis accumsan sed. Pellentesque tristique risus a turpis molestie nec molestie augue malesuada. Sed bibendum odio vitae ipsum varius molestie. Cras vehicula lorem euismod erat vulputate vehicula auctor ut urna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer est tellus, condimentum a ornare sit amet, imperdiet sit amet arcu.
  .uocava
    %p UOCAVA. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at elit vitae quam tempor eleifend at a est. Pellentesque vulputate ornare tortor, in tempus turpis accumsan sed. Pellentesque tristique risus a turpis molestie nec molestie augue malesuada. Sed bibendum odio vitae ipsum varius molestie. Cras vehicula lorem euismod erat vulputate vehicula auctor ut urna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer est tellus, condimentum a ornare sit amet, imperdiet sit amet arcu.

  %fieldset
    %legend Virginia Voting Residence
    = f.input   :vvr_county_or_city, label: 'County or City', collection: Dictionaries::CITIES_AND_COUNTIES, include_blank: true
    .vvr_common
      = f.input :vvr_street_number, label: 'Street number', input_html: { class: 'span1' }
      = f.input :vvr_street_name,   label: 'Street name'
      = f.input :vvr_street_type,   label: 'Street type', collection: [ 'St.', 'Ave.', 'Ln.', 'Pd.' ], input_html: { class: 'span1' }
      = f.input :vvr_street_suffix, label: 'Street suffix', placeholder: 'e.g. NW', input_html: { class: 'span1' }
      = f.input :vvr_town_or_city,  label: 'Town or City'
    .control-group
      %label.control-label ZIP Code
      .controls
        = text_field :registration_request, :vvr_zip5, placeholder: 'NNNNN', class: 'inline span1'
        \-
        = text_field :registration_request, :vvr_zip4, placeholder: 'NNNN', class: 'inline span1'
    .control-group.check_boxes
      .controls
        %label.checkbox
          = check_box :registration_request, :vvr_is_rural
          Rural or other address
    .control-group.vvr_rural
      .controls
        = text_area :registration_request, :vvr_rural, class: 'span6', rows: 5

    .control-group.check_boxes.uocava
      .controls
        %label.radio
          = radio_button :registration_request, :vvr_uocava_residence_available, true
          My Virginia residence is still available to me
        %label.radio
          = radio_button :registration_request, :vvr_uocava_residence_available, false
          My Virginia residence is no longer available to me. My last date of residence at the above address was:
    .control-group.residence_unavailable.dependent
      .controls
        = date_select :registration_request, :vvr_uocava_residence_unavailable_since, { order: [ :day, :month, :year ] }, class: 'date'

  %fieldset.uocava
    %legend Residental Address Abroad
    = render partial: 'non_us_address', locals: { f: f, prefix: 'raa' }

  %fieldset
    %legend Mailing Address

    .domestic
      .control-group.check_boxes
        .controls
          %label.checkbox
            = check_box :registration_request, :ma_other
            I get my mail at a different address
      .ma_other.dependent
        = render partial: 'us_address', locals: { f: f, prefix: 'ma' }

    .uocava
      .control-group.check_boxes
        .controls
          %label.radio
            = radio_button :registration_request, :mau_type, 'non-us'
            I prefer that voting materials be sent to me at a different non-U.S address
          %label.radio
            = radio_button :registration_request, :mau_type, 'apo'
            I prefer that voting materials be sent to me at an APO/DPO/FPO address

      .control-group.maut-non-us
        = render partial: 'non_us_address', locals: { f: f, prefix: 'mau' }

      .control-group.maut-apo
        = f.input :apo_address, label: 'Address'
        .controls
          = select :registration_request, :apo_1, options_for_select([ 'APO', 'DPO', 'FPO' ]), {}, class: 'inline span1'
          = select :registration_request, :apo_2, options_for_select([ 'AA', 'AE', 'AP' ]), {}, class: 'inline span1'
          = text_field :registration_request, :apo_zip5, placeholder: 'ZIP 5', class: 'inline span1'

  %fieldset
    %legend Confidentiality
    .control-group
      .controls
        %label.checkbox
          = check_box :registration_request, :is_confidential_address
          I qualify for confidential home address because I or a member of my household:

    .control-group.confidental_address.dependent
      .controls
        %label.radio
          = radio_button :registration_request, :ca_type, 'law enforcement'
          are active or retired law enforcement
        %label.radio
          = radio_button :registration_request, :ca_type, 'protective court order'
          have been granted a protective court order
        %label.radio
          = radio_button :registration_request, :ca_type, 'personal safety'
          are in fear of your personal safety from someone who has threatened or stalked you and
          have filed a complaint against that person with a magistrate or law enforcement
          (must attach copy of complaint)
        %label.radio
          = radio_button :registration_request, :ca_type, 'acp'
          participate in the Address Confidentiality Program. You must show a Virginia P.O. box under mailing address

  %fieldset
    %legend Existing Registration
    .control-group
      .controls
        %label.radio
          = radio_button :registration_request, :has_existing_reg, false
          No, I am not currently registered to vote in Virginia or another state
        %label.radio
          = radio_button :registration_request, :has_existing_reg, true
          Yes, I am registered to vote at another address in Virginia or in another state

    .existing_reg
      = render partial: 'us_address', locals: { f: f, prefix: 'er' }
      .control-group
        .controls
          %label.checkbox
            = check_box :registration_request, :er_cancel
            I authorize cancellation of existing registration

  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at elit vitae quam tempor eleifend at a est. Pellentesque vulputate ornare tortor, in tempus turpis accumsan sed. Pellentesque tristique risus a turpis molestie nec molestie augue malesuada. Sed bibendum odio vitae ipsum varius molestie. Cras vehicula lorem euismod erat vulputate vehicula auctor ut urna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer est tellus, condimentum a ornare sit amet, imperdiet sit amet arcu.

  .control-group
    .controls
      %label.checkbox
        = check_box :registration_request, :be_official
        I'm interested in being an Election Official on Election Day. Please send me information.

  .form_actions
    = button_tag '&larr; Back'.html_safe, class: 'back btn'
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn'
