#eligibility.section{ 'data-bind' => 'visible: page() == "eligibility"' }
  .head
    %h3 Eligibility
    .description Eligibility to vote in Virginia.
  %p
    To be eligible to vote, you must meet the requirements for citizenship, age,
    qualification, and residence. To proceed with registering to vote, you must indicate
    whether you meet each of these requirements. If you are already registered with your
    current name and address, you do not need to re-register.

  .partition
    .checkbox
      = f.check_box :citizen, 'data-bind' => 'checked: isCitizen'
      %label I am a citizen of the United States of America.

  .partition
    .checkbox
      = f.check_box :old_enough, 'data-bind' => 'checked: isOldEnough'
      %label I will be at least 18 years of age on or before the next Election Day.

  .partition
    .radio
      = f.radio_button :residence, 'in', 'data-bind' => 'checked: residence'
      %label I am currently a resident of Virginia
    .radio
      = f.radio_button :residence, 'outside', 'data-bind' => 'checked: residence'
      %label I live outside of the U.S., but the most recent U.S. residence was in Virginia

  .partition
    %h4 Have your voting rights been revoked in the past?
    .radio
      = f.radio_button :rights_revoked, 'no', 'data-bind' => 'checked: rightsWereRevoked'
      %label No
    .radio
      = f.radio_button :rights_revoked, 'yes', 'data-bind' => 'checked: rightsWereRevoked'
      %label Yes

    .block.revoked{ 'data-bind' => "visible: rightsWereRevoked() == 'yes'" }
      %h4 Why were your voting rights revoked?
      .radio
        = f.radio_button :rights_revoked_reason, 'felony', 'data-bind' => 'checked: rightsRevokationReason'
        %label Due to Felony
      .radio
        = f.radio_button :rights_revoked_reason, 'mental', 'data-bind' => 'checked: rightsRevokationReason'
        %label Due to mental incapacity

      .block.felony{ 'data-bind' => "visible: rightsRevokationReason() == 'felony'" }
        %h4 What state were you convicted in?
        .select
          = f.select :felony_state, Dictionaries::STATES, { class: 'span3' }

      .block
        %h4 Were your voting rights restored?
        .radio
          = f.radio_button :rights_restored, 'yes', 'data-bind' => 'checked: rightsWereRestored'
          %label Yes
        .radio
          = f.radio_button :rights_restored, 'no', 'data-bind' => 'checked: rightsWereRestored'
          %label No

      .block.restored{ 'data-bind' => "visible: rightsWereRestored() == 'yes'" }
        %h4 My voting rights were restored on:
        .date
          = f.date_select :rights_restored_on, { order: [ :day, :month, :year ] }

  .form-actions
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: nextPage, css: { disabled: eligibilityInvalid }'
