#eligibility.section
  %h3 Eligibility
  %p To be eligible to vote, you must meet requirement for citizenship, age, qualification, and residence. To proceed with registering to vote, you must indicate whether you meet each of these requirements.  If you are already registered with your current name and address, you do not need to re-register.
  = f.inputs nil do
    = f.toggles 'Qualifications' do
      = f.check_box :citizen, 'I am a citizen of the United States of America'
      = f.check_box :old_enough, "I will be at least 18 years of age on or before the #{link_to 'next Election Day', '#'}".html_safe

    .group
      = f.toggles 'Residence' do
        = f.radio_button :residence, 'I am currently a resident of Virginia', 'in'
        = f.radio_button :residence, 'I live outside of the U.S., but the most recent U.S. residence was in Virginia', 'outside'
      .outside
        = f.toggles do
          = f.radio_button :outside_type, 'Active Duty Merchant Marine or Armed Forces', 'active_duty'
        .add
          = f.inline do |i|
            = i.select :outside_active_service_branch, RegistrationRequest::SERVICE_BRANCHES, {}, class: 'span3'
            = i.text_field :outside_active_service_id, placeholder: 'Service ID', class: 'span2'
            = i.text_field :outside_active_rank, placeholder: 'Rank / Grade / Rate', class: 'span3'

        = f.toggles do
          = f.radio_button :outside_type, 'Spouse or dependent living with a member of an active duty Merchant Marine or Armed Forces', 'spouse_active_duty'
        .sadd
          = f.inline do |i|
            = i.select :outside_spouse_service_branch, RegistrationRequest::SERVICE_BRANCHES, {}, class: 'span3'
            = i.text_field :outside_spouse_service_id, placeholder: 'Service ID', class: 'span2'
            = i.text_field :outside_spouse_rank, placeholder: 'Rank / Grade / Rate', class: 'span3'

        = f.toggles do
          = f.radio_button :outside_type, 'Temporarily residing outside U.S.', 'temporarily'
          = f.radio_button :outside_type, 'Temporarily residing outside U.S. for employment, or spouse or dependent residing with employee', 'spouse_temporarily'

    .group
      = f.toggles 'Conditions' do
        %li.question
          %label
            %span Have you ever been convicted of a felony?
        = f.radio_button :convicted, 'No', false
        = f.radio_button :convicted, 'Yes', true
      .convicted-details
        = f.toggles do
          = f.check_box :convicted_restored, 'My voting rights have been restored'
          .restored
            %p
              I was convicted of a felony in
              = state_select :registration_request, :convicted_in_state, 'us'
            %p
              My voting rights were restored on
              = date_select :registration_request, :convicted_rights_restored_on, { order: [ :day, :month, :year ] }

      = f.toggles do
        %li.question
          %label
            %span Have you ever been judged mentally incapacitated?
        = f.radio_button :mental, 'No', false
        = f.radio_button :mental, 'Yes', true
      .mental-details
        = f.toggles do
          = f.check_box :mental_restored, 'Court has restored my voting rights'
          .restored
            %p
              My voting rights were restored on
              = date_select :registration_request, :mental_rights_restored_on, { order: [ :day, :month, :year ] }

    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at elit vitae quam tempor eleifend at a est. Pellentesque vulputate ornare tortor, in tempus turpis accumsan sed. Pellentesque tristique risus a turpis molestie nec molestie augue malesuada. Sed bibendum odio vitae ipsum varius molestie. Cras vehicula lorem euismod erat vulputate vehicula auctor ut urna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer est tellus, condimentum a ornare sit amet, imperdiet sit amet arcu.

    .actions
      = f.button 'Next &rarr;'.html_safe, class: 'next btn'
