#identity.section{ 'data-bind' => 'visible: page() == "identity"' }
  .head
    %h3 Identity
    .description Identify who you are

  .row.personal-info
    .span3
      %span
        First name
        %label (optional)
      = f.text_field :first_name, { 'data-bind' => 'value: firstName' }
    .span3
      %span
        Full middle
        %label
          (optional)
      = f.text_field :middle_name, { 'data-bind' => 'value: middleName' }
    .span3
      %span Last name
      = f.text_field :last_name, { 'data-bind' => 'value: lastName' }
    .span2
      %span
        Suffix
        %label
          (optional)
      = f.select :suffix, [ 'Jr', 'Sr' ], { include_blank: true }, { class: 'span1', 'data-bind' => 'value: suffix' }

  .row
    .span12.date
      %label Date of birth
      = bound_date f, :dob

  - if collecting? :registration_request, :gender
    .row
      .span12
        %label Gender
        = f.select :gender, [ 'Male', 'Femaly' ], { include_blank: true }, { class: 'span2' }

  .row
    .span12.security-number
      %label Social Security Number
      = f.text_field :ssn, placeholder: '123 45 6789'
      .checkbox
        = f.check_box :no_ssn
        %label
          I do not have a Social Security Number.
          %br/
          To register without a Social Security Number you will have to contact your
          %br/
          county’s local
          %a{ :href => "#" }Voter Registration office.
          Find out more
          %a{ :href => "#" }here.

  .row
    .span3.phone-field
      %span
        Phone
        %label
          (optional)
      = f.text_field :phone, placeholder: '(NNN) NNN-NNNN'
    .span3.email-field
      %span
        Email
        %label
          (optional)
      %span= f.text_field :email, placeholder: 'john@smith.com'

  -#%fieldset
    -#- if collecting? :registration_request, :title
      -#= f.input :title, label: 'Title', collection: [ 'Mr', 'Ms', 'Mrs' ], include_blank: true
    -#= f.input :first_name
    -#= f.input :middle_name
    -#= f.input :last_name
    -#= f.input :suffix, placeholder: 'e.g. Jr, Sr', input_html: { class: 'span2' }
    -#= f.input :dob, label: 'Date of birth', as: :date, start_year: 200.years.ago.year, end_year: 16.years.ago.year, include_blank: true, order: [ :day, :month, :year ], class: 'date'
    -#- if collecting? :registration_request, :gender
      -#= f.input :gender, collection: [ 'Male', 'Female' ], include_blank: true, class: 'small'

    -#= f.input :ssn, label: 'Social Security #', input_html: { 'data-format' => '^([\s\-]*\d[\s\-]*){9}$' }, placeholder: 'NNN NN NNNN'
    -#= f.input :phone, label: 'Phone number', placeholder: '(NNN) NNN-NNNN'
    -#= f.input :email, label: 'Email address', placeholder: 'jack@email.com'

  -#%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at elit vitae quam tempor eleifend at a est. Pellentesque vulputate ornare tortor, in tempus turpis accumsan sed. Pellentesque tristique risus a turpis molestie nec molestie augue malesuada. Sed bibendum odio vitae ipsum varius molestie. Cras vehicula lorem euismod erat vulputate vehicula auctor ut urna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer est tellus, condimentum a ornare sit amet, imperdiet sit amet arcu.

  .form-actions
    = button_tag '&larr; Back'.html_safe, class: 'back btn', 'data-bind' => 'click: prevPage'
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: nextPage'
