#mailing.section{ 'data-bind' => 'visible: page() == "address"' }
  .head
    %h3 Mailing address

  = render partial: 'mailing_domestic', locals: { f: f }
  = render partial: 'mailing_overseas', locals: { f: f }

  .partition
    %h4 Are you currently registered to vote at another address in Virginia or in another state?
    .radio
      = f.radio_button :has_existing_reg, 'no', { 'data-bind' => 'checked: hasExistingReg' }
      %label No
    .radio
      = f.radio_button :has_existing_reg, 'yes', { 'data-bind' => 'checked: hasExistingReg' }
      %label Yes
    <!-- ko if: hasExistingReg() == 'yes' -->
    <!-- ko ifnot: erIsRural -->
    .row
      .span3
        %span
          Street number
        = f.text_field :er_street_number, 'data-bind' => 'value: erStreetNumber'
      .span3
        %span
          Street name
        = f.text_field :er_street_name, 'data-bind' => 'value: erStreetName'
      .span2.street-type-field
        %span
          Street type
        = f.select :er_street_type, Dictionaries::STREET_TYPES, { include_blank: true }, { class: 'span1', 'data-bind' => 'value: erStreetType' }
      .span2.lot-field
        %span
          Apt/Lot
          %label (optional)
        = f.text_field :er_apt
    .row
      .span3
        %span City
        = f.text_field :er_city, 'data-bind' => 'value: erCity'
      .span2.state-field
        %span State
        = f.select :er_state, Dictionaries::STATES, { include_blank: true }, { class: 'span1', 'data-bind' => 'value: erState' }
      .span3.zip-field
        %span Zip code
        = f.text_field :er_zip5, class: 'first-zip', 'data-bind' => 'value: erZip5'
        .space &mdash;
        = f.text_field :er_zip4, class: 'second-zip'
    <!-- /ko -->
    .row
      .span12
        .checkbox
          = f.check_box :er_is_rural, { 'data-bind' => 'checked: erIsRural' }
          Rural address or homeless? Please check the box and describe where you reside.
        <!-- ko if: erIsRural -->
        %textarea{ :cols => "10", :rows => "10", 'data-bind' => 'value: erRural' }
        <!-- /ko -->
    <!-- /ko -->

  <!-- ko if: hasExistingReg() == 'yes' -->
  .partition
    .row
      .span12
        .checkbox
          = f.check_box :er_cancel, 'data-bind' => 'checked: erCancel'
          %strong
            I authorize cancellation of my existing registration.
  <!-- /ko -->

  .form-actions
    = button_tag '&larr; Back'.html_safe, class: 'back btn', 'data-bind' => 'click: prevPage'
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: nextPage, css: { disabled: addressesInvalid }'
