= f.text_field "#{prefix}_address", 'Address'
= f.text_field "#{prefix}_city", 'City or Town'
= f.text_field "#{prefix}_state", 'Province or State', class: 'span2'
= f.text_field "#{prefix}_postal_code", 'Postal Code', class: 'span2'
= f.text_field "#{prefix}_country", 'Country'
