#options.section{ 'data-bind' => 'vis: page() == "options"' }
  .head
    %h3 Options
    .description Select only applicable options.
  .partition
    .row
      .span12
        .checkbox
          = f.check_box :is_confidential_address, { 'data-bind' => 'checked: isConfidentialAddress' }
          %strong I qualify for address confidentiality.

    <!-- ko if: isConfidentialAddress -->
    .row
      .span10
        %span I request that my home address not be released because I or member of my household is
        .radio
          = f.radio_button :ca_type, 'law enforcement', 'data-bind' => 'checked: caType'
          %label active or retired law enforcement
        .radio
          = f.radio_button :ca_type, 'protective court order', 'data-bind' => 'checked: caType'
          %label have been granted a protective court order
        .radio
          = f.radio_button :ca_type, 'in fear', 'data-bind' => 'checked: caType'
          %label are in fear of your personal safety from someone who has threatened or stalked you and have filed a complaint against that person with magistrate or law enforcement
        .radio
          = f.radio_button :ca_type, 'acp', 'data-bind' => 'checked: caType'
          %label participate in the Address Confidentiality Program

        <!-- ko if: caType -->
        .additional
          .important You must provide a mailing address that is a Virginia P.O. Box
          <!-- ko if: caType() == 'in fear' -->
          .important You must attach copy of the complaint that you filed
          <!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->

  <!-- ko if: domestic -->
  .partition
    .row
      .span12
        .checkbox
          = f.check_box :requesting_absentee, { 'data-bind' => 'checked: requestingAbsentee' }
          %strong
            I am not able to go to the polls on election day and would like an Absentee Ballot Application.
        <!-- ko if: requestingAbsentee -->
        %p To apply to vote absentee, you must identify the election for which you are applying.
        <!-- /ko -->
    <!-- ko if: requestingAbsentee -->
    .row
      .span12
        %h4
          %strong I am applying to vote absentee for
        .radio
          = f.radio_button :rab_election, '1', { 'data-bind' => 'checked: rabElection' }
          %label Presidential Primary Election held on Tuesday, March 6, 2012.
        .radio
          = f.radio_button :rab_election, '2', { 'data-bind' => 'checked: rabElection' }
          %label State Primary Election held on Tuesday, June 12, 2012.
        .radio
          = f.radio_button :rab_election, '3', { 'data-bind' => 'checked: rabElection' }
          %label General Election held on Tuesday, November 6, 2012.
        .radio
          = f.radio_button :rab_election, 'other', { 'data-bind' => 'checked: rabElection' }
          %label Other
    <!-- ko if: rabElection() == 'other' -->
    .row
      .span6.election-name-field
        %span Election name
        = f.text_field :rab_election_name, 'data-bind' => 'value: rabElectionName'
      .span3
        %span Held on
        = f.text_field :rab_election_date, 'data-bind' => 'value: rabElectionDate', placeholder: 'MM/DD/YYYY'
    <!-- /ko -->
    <!-- /ko -->

  <!-- ko if: requestingAbsentee -->
  .partition
    .row
      .span12
        %p
          Select only one reason to vote absentee from the list below and include any
          %br/
          required information to support the reason.
    .row
      .span12
        %span I am unable to go to the polls on election day because
        = f.select :ab_reason, [ 'Reason 1', 'Reason 2' ], { class: 'span6' }
    .row
      .span12
        Please complete the following information about your school
    .row
      .span3
        %span School name
        = f.text_field :ab_school_name, 'data-bind' => 'value: abSchoolName'
    .row
      .span3
        %span
          Street number
        = f.text_field :ab_street_number, 'data-bind' => 'value: abStreetNumber'
      .span3
        %span
          Street name
        = f.text_field :ab_street_name, 'data-bind' => 'value: abStreetName'
      .span2.street-type-field
        %span Street type
        = f.select :ab_street_type, Dictionaries::STREET_TYPES, { include_blank: true }, { class: 'span1', 'data-bind' => 'value: abStreetType' }
      .span2.lot-field
        %span
          Apt/Lot
          %label (optional)
        = f.text_field :ab_apt
    .row
      .span3
        %span City
        = f.text_field :ab_city, 'data-bind' => 'value: abCity'
      .span3
        %span
          Province or State
        = f.text_field :ab_state, 'data-bind' => 'value: abState'
      .span3.postal-code-field
        %span Postal code
        = f.text_field :ab_zip5, class: 'first-zip', 'data-bind' => 'value: abZip5', placeholder: '12345'
        .space &mdash;
        = f.text_field :ab_zip4, class: 'second-zip', placeholder: '1234'
      .span2.country-field
        %span Country
        = f.text_field :ab_country, 'data-bind' => 'value: abCountry'
  <!-- /ko -->
  <!-- /ko --> <!-- domestic -->

  <!-- ko if: overseas -->
  = f.hidden_field :absentee_until
  .partition
    .row
      .span12
        .checkbox
          = f.check_box :requesting_absentee, { 'data-bind' => 'checked: requestingAbsentee' }
          %strong
            I will not be able to vote in person, and would like to vote absentee
            until <strong>#{f.object.absentee_until}</strong>
    <!-- ko if: requestingAbsentee -->
    .row
      .span12
        .radio
          = f.radio_button :outside_type, 'active_duty', { 'data-bind' => 'checked: outsideType' }
          %label= t 'outside_type.active_duty'
        .radio
          = f.radio_button :outside_type, 'spouse_active_duty', { 'data-bind' => 'checked: outsideType' }
          %label= t 'outside_type.spouse_active_duty'
        .radio
          = f.radio_button :outside_type, 'temporarily', { 'data-bind' => 'checked: outsideType' }
          %label= t 'outside_type.temporarily'
        .radio
          = f.radio_button :outside_type, 'spouse_temporarily', { 'data-bind' => 'checked: outsideType' }
          %label= t 'outside_type.spouse_temporarily'

    <!-- ko if: needsServiceDetails -->
    .row
      .span2
        %span Service Branch
        = select     :registration_request, :service_branch, options_for_select(RegistrationRequest::SERVICE_BRANCHES), {}, class: 'span2 inline'
      .span2
        %span Service ID
        = text_field :registration_request, :service_id, placeholder: 'Service ID', class: 'span1 inline', 'data-bind' => 'value: serviceId'
      .span2
        %span Rank / Grade / Rate
        = text_field :registration_request, :rank, placeholder: 'Rank / Grade / Rate', class: 'span2 inline', 'data-bind' => 'value: rank'
    <!-- /ko -->
    <!-- /ko -->
  <!-- /ko -->

  .partition
    .row
      .span12
        .checkbox
          = f.check_box :be_official
          %strong
            I'm interested in being an Election Official on Election Day. Please send me information.

  .form-actions
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: nextPage, css: { disabled: optionsInvalid }'
    = button_tag '&larr; Back'.html_safe, class: 'back btn', 'data-bind' => 'click: prevPage'
