%div{ class: "#{prefix}_common" }
  = f.input "#{prefix}_address", label: 'Address'
  = f.input "#{prefix}_city", label: 'City or Town'
  = f.input "#{prefix}_state", label: 'State', collection: [ 'Virginia' ]
  .control-group
    %label.control-label ZIP Code
    .controls
      = text_field :registration_request, "#{prefix}_zip5", class: 'inline span1', placeholder: 'NNNNN'
      \-
      = text_field :registration_request, "#{prefix}_zip4", class: 'inline span1', placeholder: 'NNNN'

.control-group
  .controls
    %label.checkbox
      = check_box :registration_request, "#{prefix}_is_rural"
      Rural or other address

%div{ class: "#{prefix}_rural control-group" }
  .controls
    = text_area :registration_request, "#{prefix}_rural", class: 'span5', rows: 5
