= render partial: "shared/page_header", locals: { title: "Register to Vote" }

.row
  .span-one-third
    = render partial: 'steps'

  .span-two-thirds
    = twitter_bootstrap_form_for @registration_request, url: :registration_request do |f|

      = render partial: 'eligibility', locals: { f: f }
      = render partial: 'identity', locals: { f: f }
      = render partial: 'contact_info', locals: { f: f }
      = render partial: 'complete_registration', locals: { f: f }

