- @page_id = 'registration'

= render partial: 'steps'

.row.disclaimer
  .span12
    %p
      All information in this online experience is required by state or federal
      law, unless specifically marked optional.

.row
  .span12
    = form_for @registration_request, url: :registration_request do |f|

      = render partial: 'eligibility', locals: { f: f }
      = render partial: 'identity', locals: { f: f }
      = render partial: 'addresses', locals: { f: f }
      = render partial: 'mailing', locals: { f: f }
      = render partial: 'options', locals: { f: f }
      = render partial: 'confirm', locals: { f: f }
      = render partial: 'oath', locals: { f: f }
      = render partial: 'download', locals: { f: f }
      = render partial: 'congratulations', locals: { f: f }
      -#= render partial: 'contact_info', locals: { f: f }
      -#= render partial: 'complete_registration', locals: { f: f }

