= render partial: "shared/page_header", locals: { title: "Register to Vote" }

.row
  .span4
    = render partial: 'steps'

  .span8
    = simple_form_for @registration_request, url: :registration_request, html: { class: 'form-horizontal' } do |f|

      = render partial: 'eligibility', locals: { f: f }
      = render partial: 'identity', locals: { f: f }
      = render partial: 'contact_info', locals: { f: f }
      = render partial: 'complete_registration', locals: { f: f }

