#address.section{ 'data-bind' => "vis: page() == 'address'" }
  .head
    %h3 #{I18n.t('residence_address').capitalize}
    .description
      #{I18n.t('residence_address').capitalize} is your Home address in Virginia or your most recent Virginia residence.
      <!-- ko if: paperlessSubmission -->
      <br/>
      #{I18n.t("dmv.address_info")}
      <!-- /ko -->

  <!-- ko ifnot: vvrIsRural -->
  .row
    .span2
      = f.label :vvr_street_number, "Street number"
      = f.text_field :vvr_street_number, autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "vvrStreetNumber" }, valueUpdate: "afterkeyup"', class: 'span2'
    .span4
      = f.label :vvr_street_name, "Street name"
      = f.text_field :vvr_street_name, autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "vvrStreetName" }, valueUpdate: "afterkeyup"', class: 'span4'
    .span2.street-type-field
      = f.label :vvr_street_type, "Street type"
      = f.select :vvr_street_type, Dictionaries::STREET_TYPES, { include_blank: true }, { autocomplete: ac, class: 'street-type', 'data-bind' => 'instantValidation: { accessor: "vvrStreetType" }' }
    .span2.lot-field
      = f.label :vvr_apt do
        Apt/Lot
        %span (optional)
      = f.text_field :vvr_apt, autocomplete: ac, 'data-bind' => 'valueWithInit: vvrApt'
  .row
    .span3
      = f.label :vvr_county_or_city, "County or city"
      = f.select :vvr_county_or_city, Office.localities, { include_blank: true }, { autocomplete: ac, class: 'span3', 'data-bind' => 'instantValidation: { accessor: "vvrCountyOrCity", resetAlso: ".town" }' }
    .span3.town
      %div{ 'data-bind' => 'visible: vvrCountySelected' }
        = f.label :vvr_town, "Town"
        = f.text_field :vvr_town, autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "vvrTown" }, valueUpdate: "afterkeyup"'
      &nbsp;
    .span2.state-field.short
      %span State
      = text_field_tag "state", "VA", disabled: true, class: 'span1'
      = f.hidden_field :vvr_state, autocomplete: ac, 'data-bind' => 'value: vvrState'
    .span2.zip-field
      = f.label :vvr_zip5, "Zip code"
      = f.text_field :vvr_zip5, maxlength: 5, autocomplete: ac, class: 'first-zip', 'data-bind' => 'instantValidation: { accessor: "vvrZip5", validation: "zip5" }, valueUpdate: "afterkeyup"', placeholder: 'NNNNN'
      .space &mdash;
      = f.text_field :vvr_zip4, maxlength: 4, autocomplete: ac, class: 'second-zip', 'data-bind' => 'valueWithInit: vvrZip4, valueUpdate: "afterkeyup"', placeholder: 'NNNN'
  <!-- /ko -->

  .row
    .span12
      = f.label :vvr_is_rural, class: 'checkbox' do
        = f.check_box :vvr_is_rural, 'data-bind' => 'instantValidation: { accessor: "vvrIsRural" }'
        Rural address or homeless? Please check the box and describe where you reside.
      <!-- ko if: vvrIsRural -->
      = f.text_area :vvr_rural, cols: "10", rows: "10", autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "vvrRural" }'
      <!-- /ko -->

  <!-- ko if: domestic -->
  .row
    .span10
      .checkbox
        <!-- ko if: vvrIsRural -->
        = check_box_tag "registration[ma_is_different]", "1", true, autocomplete: ac, disabled: true
        = f.hidden_field :ma_is_different, autocomplete: ac, 'data-bind' => 'checked: maIsDifferent'
        <!-- /ko -->
        <!-- ko ifnot: vvrIsRural -->
        = f.check_box :ma_is_different, 'data-bind' => 'checkedWithInit: maIsDifferent'
        <!-- /ko -->
        = f.label :ma_is_different, I18n.t("mailing_address.different.#{AppConfig['domestic_voter_mailing_address_limit'] ? 'limit' : 'no_limit'}", address: I18n.t('residence_address').downcase)
  <!-- /ko --> <!-- domestic -->

  <!-- ko if: overseas -->
  .row
    .span12
      .radio
        = radio_button :registration, :vvr_uocava_residence_available, '1', { autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "vvrOverseasRA" }' }
        %label{ for: 'registration_vvr_uocava_residence_available_1' } My Virginia residence is still available to me
      .radio
        = radio_button :registration, :vvr_uocava_residence_available, '0', { autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "vvrOverseasRA" }' }
        %label{ for: 'registration vvr_uocava_residence_available_0' } My Virginia residence is no longer available to me
  <!-- ko if: vvrOverseasRA() == '0' -->
  .row
    .span12
      %span My last date of residence at the above address was:
      = bound_date f, :vvr_uocava_residence_unavailable_since, { end_year: Date.today.year }, class: 'date'
  <!-- /ko -->
  <!-- /ko --> <!-- overseas -->
