- reg = RegistrationDetailsPresenter.new(@registration)
#confirm.section{ 'data-bind' => 'vis: page() == "confirm"' }
  .head
    %h3 Confirm
    .description Please confirm that your information is accurate. If the information is not correct, please go back and correct it.

  .row
    .span10
      .head.light
        %h3 Voter Information
      .summary
        .body
          %table.table.properties
            %tr
              %th Name:
              %td
                .span2
                  = f.text_field :first_name,  autocomplete: ac, class: 'span2', placeholder: 'First name', 'data-bind' => 'valueWithInit: firstName'
                .span2
                  = f.text_field :middle_name, autocomplete: ac, class: 'span2', placeholder: 'Middle name', 'data-bind' => 'valueWithInit: middleName'
                .span2
                  = f.text_field :last_name,   autocomplete: ac, class: 'span2', placeholder: 'Last name', 'data-bind' => 'instantValidation: { accessor: "lastName" }, valueUpdate: "keyup"'
                .span1
                  = f.select     :suffix, name_suffixes_for(@registration), { include_blank: true }, autocomplete: ac, class: 'span1', 'data-bind' => 'valueWithInit: suffix'
            %tr
              %th Date of Birth:
              %td= reg.dob
            %tr
              %th Gender:
              %td= reg.gender
            %tr
              %th Social Security Number:
              %td= reg.ssn
            %tr
              %th Phone:
              %td= f.text_field :phone, autocomplete: ac, class: 'span2', placeholder: '(NNN) NNN-NNNN', 'data-bind' => 'valueWithInit: phone'
            %tr
              %th Email:
              %td= f.text_field :email, autocomplete: ac, class: 'span2', placeholder: 'john@smith.com', 'data-bind' => 'valueWithInit: email'
            %tr
              %th Registration Address:
              %td
                %span{ 'data-bind' => 'html: summaryRegistrationAddress' }
            %tr
              %th Mailing Address:
              %td
                %span{ 'data-bind' => 'html: summaryMailingAddress' }
            <!-- ko if: showingPartySummary -->
            %tr
              %th #{party_preference_label}:
              %td
                %span{ 'data-bind' => 'text: summaryParty' }
            <!-- /ko -->

  .row
    .span10
      .head.light
        %h3 Voting Status

      - af = @registration.absentee_for_elections || []
      - if @registration.currently_overseas?
        <!-- ko if: overseas -->
        %p
          %strong Overseas/Military Absentee Voter

        - if @registration.current_absentee_until
          %p Receiving an absentee ballot for elections through #{@registration.current_absentee_until.strftime("%b %d, %Y")}.

        - if @registration.extending_absentee_period?
          %p Requesting an absentee ballot for elections through <strong data-bind="text: absenteeUntilFormatted"></strong>
        <!-- /ko --> <!-- overseas -->

        <!-- ko if: domestic -->
        %p
          %strong Returning Overseas/Military Absentee Voter
        %p
          Now residing in Virginia, and submitting registration update in order to vote
          in the upcoming elections.

        %p{ 'data-bind' => 'if: requestingAbsentee' }
          Requesting an <strong>Absentee Ballot</strong> for <span data-bind='html: summaryElection'></span>
        <!-- /ko -->
      - else
        <!-- ko if: domestic -->
        %p
          %strong Virginial Residential Voter

        - unless af.blank?
          %p Approved for Absentee Ballot: #{af.humanized_list_join} #{pluralize(af.size, 'Election')}

        %p{ 'data-bind' => 'if: requestingAbsentee' }
          Requesting an <strong>Absentee Ballot</strong> for <span data-bind='html: summaryElection'></span>
        <!-- /ko -->

        <!-- ko if: overseas -->
        %p
          %strong Overseas/Military Absentee Voter
        %p
          Requesting an absentee ballot for elections through <strong data-bind="text: absenteeUntilFormatted"></strong>
        <!-- /ko -->

  .form-actions
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: nextFromConfirm, css: { disabled: confirmInvalid }'
    = button_tag '&larr; Back'.html_safe, class: 'back btn', 'data-bind' => 'click: prevPage'
