- reg = RegistrationDetailsPresenter.new(@registration)
#confirm.section{ 'data-bind' => 'vis: page() == "confirm"' }
  .head
    %h3 Confirm
    .description Please confirm that your information is accurate. If the information is not correct, please go back and correct it.

  .row
    .span10
      .head.light
        %h3 Voter Information
      .summary
        .body
          %table.table.properties
            %tr
              %th Name:
              %td
                = f.text_field :first_name,   class: 'span2', placeholder: 'First name', 'data-bind' => 'valueWithInit: firstName'
                = f.text_field :middle_name,  class: 'span2', placeholder: 'Middle name', 'data-bind' => 'valueWithInit: middleName'
                = f.text_field :last_name,    class: 'span2', placeholder: 'Last name', 'data-bind' => 'valueWithInit: lastName, valueUpdate: "keyup"'
                = f.select     :suffix, name_suffixes_for(@registration), { include_blank: true }, class: 'span1', 'data-bind' => 'valueWithInit: suffix'
            %tr
              %th Date of Birth:
              %td= reg.dob
            %tr
              %th Gender:
              %td= reg.gender
            %tr
              %th Social Security Number:
              %td= reg.ssn
            %tr
              %th Phone:
              %td= f.text_field :phone, class: 'span2', placeholder: '(NNN) NNN-NNNN', 'data-bind' => 'valueWithInit: phone'
            %tr
              %th Email:
              %td= f.text_field :email, class: 'span2', placeholder: 'john@smith.com', 'data-bind' => 'valueWithInit: email'
            %tr
              %th Registration Address:
              %td{ 'data-bind' => 'html: summaryRegistrationAddress' }
            %tr
              %th Mailing Address:
              %td{ 'data-bind' => 'html: summaryMailingAddress' }
            %tr
              %th Political Party Preference:
              %td{ 'data-bind' => 'text: summaryParty' }

  .row
    .span10
      .head.light
        %h3 Voting Status

      - if @registration.currently_overseas?
        %p
          %strong Overseas/Military Absentee Voter
      - else
        - if @registration.currently_absentee?
          %p
            %strong Domestic Absentee Voter
          - af = @registration.absentee_for_elections || []
          - unless af.blank?
            %p Approved for absentee ballot for: #{af.join(', ')}
        - else
          %p
            %strong Virginia Residential Voter

      - if @registration.uocava?
        %p
          I am living overseas and won't be in the U.S. on election day and need
          an <strong>Ansentee Ballot</strong>.
      - else
        <!-- ko if: requestingAbsentee -->
        I am not able to go to the polls on election day and would like to request an Absentee Ballot for
        %br
        %strong{ 'data-bind' => 'html: summaryElection' }
        <!-- /ko -->
        <!-- ko ifnot: requestingAbsentee -->
        - unless requesting_absentee_status
          I will attend polls personally... TBD
        <!-- /ko -->

  .form-actions
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: nextPage'
    = button_tag '&larr; Back'.html_safe, class: 'back btn', 'data-bind' => 'click: prevPage'
