#confirm.section{ 'data-bind' => 'vis: page() == "confirm"' }
  .head
    %h3 Confirm
    .description= I18n.t('confirm.details')

  .row
    .span10
      .head.light
        %h3 Voter Information
      .summary
        .body
          %table.table.properties
            %tr
              %th Name:
              %td
                = link_to "Edit", "#identity", class: 'edit'
                %span{ 'data-bind' => 'text: summaryFullName' }
            %tr
              %th Citizen?
              %td
                = link_to "Edit", "#eligibility", class: 'edit'
                %span{ 'data-bind' => 'text: summaryCitizen' }
            %tr
              %th Old enough?
              %td
                = link_to "Edit", "#eligibility", class: 'edit'
                %span{ 'data-bind' => 'text: summaryOldEnough' }
            %tr
              %th Voting rights summary:
              %td
                = link_to "Edit", "#eligibility", class: 'edit'
                %span{ 'data-bind' => 'html: summaryVotingRights' }
            %tr
              %th Date of birth:
              %td
                = link_to "Edit", "#eligibility", class: 'edit'
                %span{ 'data-bind' => 'text: summaryDOB' }
            %tr
              %th Social security number:
              %td
                = link_to "Edit", "#eligibility", class: 'edit'
                %span{ 'data-bind' => 'text: summarySSN' }
            %tr
              %th Department of Motor Vehicles ID:
              %td
                = link_to "Edit", "#eligibility", class: 'edit'
                %span{ 'data-bind' => 'text: summaryDMVID' }
            %tr
              %th Gender:
              %td
                = link_to "Edit", "#identity", class: 'edit'
                %span{ 'data-bind' => 'text: summaryGender' }
            %tr{ 'data-bind' => 'if: phone' }
              %th Phone:
              %td
                = link_to "Edit", "#identity", class: 'edit'
                %span{ 'data-bind' => 'text: phone' }
            %tr{ 'data-bind' => 'if: email' }
              %th Email:
              %td
                = link_to "Edit", "#identity", class: 'edit'
                %span{ 'data-bind' => 'text: email' }

            %tr
              %th Registration address:
              %td
                = link_to "Edit", "#address", class: 'edit'
                %span{ 'data-bind' => 'html: summaryRegistrationAddress' }

            %tr{ 'data-bind' => 'if: overseas() || maIsDifferent()' }
              %th Mailing address:
              %td
                = link_to "Edit", "#address", class: 'edit'
                %p{ 'data-bind' => 'html: summaryMailingAddress' }
                <!-- ko if: overseas -->
                (used for absentee ballot and other voting correspondence)
                <!-- /ko -->
            %tr{ 'data-bind' => 'if: prStatus() == "1"' }
              %th Existing registration:
              %td
                = link_to "Edit", "#address", class: 'edit'
                %span{ 'data-bind' => 'html: summaryExistingRegistration' }

            %tr{ 'data-bind' => 'if: showingPartySummary' }
              %th #{party_preference_label}:
              %td
                = link_to "Edit", "#options", class: 'edit'
                %span{ 'data-bind' => 'text: summaryParty' }

            %tr{ 'data-bind' => 'if: isConfidentialAddress' }
              %th Address confidentiality:
              %td
                = link_to "Edit", "#options", class: 'edit'
                %span{ 'data-bind' => 'html: summaryAddressConfidentiality' }

            %tr{ 'data-bind' => 'if: needsAssistance' }
              %th Assistance needed:
              %td
                = link_to "Edit", "#options", class: 'edit'
                %span Yes

            %tr{ 'data-bind' => 'if: requestingAbsentee' }
              %th Absentee request:
              %td
                = link_to "Edit", "#options", class: 'edit'
                %span{ 'data-bind' => 'html: summaryAbsenteeRequest' }

            %tr{ 'data-bind' => 'if: beOfficial' }
              %th Intrested in being official:
              %td
                = link_to "Edit", "#options", class: 'edit'
                %span Yes

  - if AppConfig['confirm_voting_status_display']
    = render partial: 'confirm_absentee_status'


  .form-actions
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: nextFromConfirm'
    = button_tag '&larr; Back'.html_safe, class: 'back btn', 'data-bind' => 'click: prevPage'
