- updating ||= false
- rj = AppConfig['OVR']['confirmation_table_right_justify']
- personal_data_link = AppConfig['OVR']['Eligibility']['CollectPersonalData'] && !AppConfig['OVR']['Eligibility']['CombineWithIdentity'] ? '#eligibility' : '#identity'

- condition = 'page() == "confirm"'
- if AppConfig['OVR']['Completion']['CombineAttestationWithConfirmation']
  - condition += " || page() == 'oath'";

#confirm.section{ 'data-bind' => 'vis: ' + condition }
  .head
    %h3 Confirm
    .description= raw t('confirm.details')

  .row
    .span10
      .head.light
        %h3= raw t 'confirm.voter_info'
      .summary
        .body
          %table.table.properties
            %tr
              %th= t('confirm.rows.name')
              - if !rj
                %td.edit= link_to "Edit", "#identity"
              %td
                - if rj
                  = link_to "Edit", "#identity", class: 'edit'
                %span{ 'data-bind' => 'text: summaryFullName' }
            - unless updating
              %tr
                %th= t('confirm.rows.dob')
                - if !rj
                  %td.edit= link_to "Edit", personal_data_link
                %td
                  - if rj
                    = link_to "Edit", personal_data_link, class: 'edit'
                  %span{ 'data-bind' => 'text: summaryDOB' }
            %tr
              %th= t('confirm.rows.gender')
              - if !rj
                %td.edit= link_to "Edit", "#identity"
              %td
                - if rj
                  = link_to "Edit", "#identity", class: 'edit'
                %span{ 'data-bind' => 'text: summaryGender' }
            %tr
              %th= t('confirm.rows.ssn')
              - if !rj
                %td.edit= link_to "Edit", personal_data_link
              %td
                - if rj
                  = link_to "Edit", personal_data_link, class: 'edit'
                %span{ 'data-bind' => 'text: summarySSN' }
            %tr
              %th= t('dmvid')
              - if !rj
                %td.edit= link_to "Edit", personal_data_link
              %td
                - if rj
                  = link_to "Edit", personal_data_link, class: 'edit'
                %span{ 'data-bind' => 'text: summaryDMVID' }
            %tr
              %th= t('confirm.rows.eligibility')
              - if !rj
                %td.edit= link_to "Edit", "#eligibility"
              %td
                - if rj
                  = link_to "Edit", "#eligibility", class: 'edit'
                %span{ 'data-bind' => 'text: summaryEligibility' }
            %tr{ 'data-bind' => 'if: rightsWereRevoked() == "1"' }
              %th= t('confirm.rows.voting_rights')
              - if !rj
                %td.edit= link_to "Edit", "#eligibility"
              %td
                - if rj
                  = link_to "Edit", "#eligibility", class: 'edit'
                %span{ 'data-bind' => 'html: summaryVotingRights' }
            %tr
              %th= t('residence_address')
              - if !rj
                %td.edit= link_to "Edit", "#address"
              %td
                - if rj
                  = link_to "Edit", "#address", class: 'edit'
                %span{ 'data-bind' => 'html: summaryRegistrationAddress' }

            %tr{ 'data-bind' => 'if: overseas() || maIsDifferent() || (domestic() && isConfidentialAddress()) ' }
              %th= t('confirm.rows.mailing_address')
              - if !rj
                %td.edit= link_to "Edit", "#address"
              %td
                - if rj
                  = link_to "Edit", "#address", class: 'edit'
                %p{ 'data-bind' => 'html: summaryMailingAddress' }
                <!-- ko if: domestic -->
                <!-- ko if: !isConfidentialAddress() && maIsDifferent() -->
                (#{t("mailing_address.different.#{AppConfig['enable_limit_on_domestic_voter_mailing_address'] ? 'limit' : 'no_limit'}", address: t("residence_address").downcase)})
                <!-- /ko -->
                <!-- ko if: isConfidentialAddress() -->
                = raw t 'confirm.protected_voter'
                <!-- /ko -->
                <!-- /ko --> <!-- domestic -->
                <!-- ko if: overseas -->
                = raw t 'confirm.absentee'
                <!-- /ko -->
            %tr
              %th= t('confirm.rows.previous_registration')
              - if !rj
                %td.edit= link_to "Edit", "#address"
              %td
                - if rj
                  = link_to "Edit", "#address", class: 'edit'
                %span{ 'data-bind' => 'html: summaryExistingRegistration' }
            %tr{ 'data-bind' => 'if: isConfidentialAddress' }
              %th= t('confirm.rows.protected_voter')
              - if !rj
                %td.edit= link_to "Edit", "#identity"
              %td
                - if rj
                  = link_to "Edit", "#options", class: 'edit'
                %span
                  = t('options.ac.statement', address: t('residence_address').downcase)
                  - %w( LEO CPO TSC ACP ).each do |r|
                    <!-- ko if: caType() == '#{r}' -->
                    = t("options.ac.reasons.#{r}")
                    <!-- /ko -->
            %tr{ 'data-bind' => 'if: requestingAbsentee' }
              %th= t('confirm.rows.absentee_request')
              - if !rj
                %td.edit= link_to "Edit", "#options"
              %td
                - if rj
                  = link_to "Edit", "#options", class: 'edit'
                %span{ 'data-bind' => 'html: summaryAbsenteeRequest' }
            %tr{ 'data-bind' => 'if: showingPartySummary' }
              %th= party_preference_label
              - if !rj
                %td.edit= link_to "Edit", "#options"
              %td
                - if rj
                  = link_to "Edit", "#options", class: 'edit'
                %span{ 'data-bind' => 'text: summaryParty' }


            %tr
              %th= t('confirm.rows.phone')
              - if !rj
                %td.edit= link_to "Edit", "#identity"
              %td
                - if rj
                  = link_to "Edit", "#identity", class: 'edit'
                %span{ 'data-bind' => 'text: summaryPhone' }
            %tr
              %th= t('confirm.rows.email')
              - if !rj
                %td.edit= link_to "Edit", "#identity"
              %td
                - if rj
                  = link_to "Edit", "#identity", class: 'edit'
                %span{ 'data-bind' => 'text: summaryEmail' }

            %tr
              %th= t('confirm.rows.assistance_request')
              - if !rj
                %td.edit= link_to "Edit", "#options"
              %td
                - if rj
                  = link_to "Edit", "#options", class: 'edit'
                %span{ 'data-bind' => 'text: summaryNeedsAssistance' }
            %tr
              %th= t('confirm.rows.volunteering')
              - if !rj
                %td.edit= link_to "Edit", "#options"
              %td
                - if rj
                  = link_to "Edit", "#options", class: 'edit'
                %span{ 'data-bind' => 'text: summaryBeOfficial' }

  - if AppConfig['OVR']['enable_confirm_voting_status_display']
    = render partial: 'confirm_absentee_status'


  .form-actions{style: "#{AppConfig['OVR']['Completion']['CombineAttestationWithConfirmation'] ? 'display: none;' : ''}"}
    = button_tag 'Next', class: 'next bt', 'data-bind' => 'click: nextFromConfirm'
    = button_tag 'Back', class: 'back bt', 'data-bind' => 'click: prevPage'
