.row
  .span10
    .head.light
      %h3= t 'confirm.status.title'

    <!-- ko if: overseas -->
    %p
      %strong= t 'confirm.status.overseas'
    %p #{t 'confirm.status.receiving_absentee_through'} <strong data-bind="text: absenteeUntilFormatted"></strong>
    <!-- /ko -->

    <!-- ko if: domestic() && requestingAbsentee() -->
    %p
      %strong= t 'confirm.status.domestic'
    %p #{raw t 'confirm.status.domestic_ballot_for'} <span data-bind='html: summaryElection'></span>
    <!-- /ko -->

    <!-- ko if: domestic() && !requestingAbsentee() -->
    %p
      %strong= t 'confirm.status.resident'
    <!-- /ko -->
