#confirm.section{ 'data-bind' => 'vis: page() == "confirm"' }
  .head
    %h3 Confirm
    .description= I18n.t('confirm.details')

  .row
    .span10
      .head.light
        %h3 Voter Information
      .summary
        .body
          %table.table.properties
            %tr
              %th= I18n.t('confirm.rows.name')
              %td
                = link_to "Edit", "#identity", class: 'edit'
                %span{ 'data-bind' => 'text: summaryFullName' }
            %tr
              %th= I18n.t('confirm.rows.dob')
              %td
                = link_to "Edit", "#eligibility", class: 'edit'
                %span{ 'data-bind' => 'text: summaryDOB' }
            %tr
              %th= I18n.t('confirm.rows.gender')
              %td
                = link_to "Edit", "#identity", class: 'edit'
                %span{ 'data-bind' => 'text: summaryGender' }
            %tr
              %th= I18n.t('confirm.rows.ssn')
              %td
                = link_to "Edit", "#eligibility", class: 'edit'
                %span{ 'data-bind' => 'text: summarySSN' }
            %tr
              %th= I18n.t('confirm.rows.dmv_id')
              %td
                = link_to "Edit", "#eligibility", class: 'edit'
                %span{ 'data-bind' => 'text: summaryDMVID' }
            %tr
              %th= I18n.t('confirm.rows.eligibility')
              %td
                = link_to "Edit", "#eligibility", class: 'edit'
                %span{ 'data-bind' => 'text: summaryEligibility' }
            %tr
              %th= I18n.t('confirm.rows.voting_rights')
              %td
                = link_to "Edit", "#eligibility", class: 'edit'
                %span{ 'data-bind' => 'html: summaryVotingRights' }
            %tr
              %th= I18n.t('confirm.rows.registration_address')
              %td
                = link_to "Edit", "#address", class: 'edit'
                %span{ 'data-bind' => 'html: summaryRegistrationAddress' }

            %tr{ 'data-bind' => 'if: overseas() || maIsDifferent()' }
              %th= I18n.t('confirm.rows.mailing_address')
              %td
                = link_to "Edit", "#address", class: 'edit'
                %p{ 'data-bind' => 'html: summaryMailingAddress' }
                <!-- ko if: domestic -->
                (#{I18n.t("mailing_address.different.#{AppConfig['domestic_voter_mailing_address_limit'] ? 'limit' : 'no_limit'}")})
                <!-- /ko -->
                <!-- ko if: overseas -->
                (used for absentee ballot and other voting correspondence)
                <!-- /ko -->
            %tr
              %th= I18n.t('confirm.rows.previous_registration')
              %td
                = link_to "Edit", "#address", class: 'edit'
                %span{ 'data-bind' => 'html: summaryExistingRegistration' }
            %tr{ 'data-bind' => 'if: isConfidentialAddress' }
              %th= I18n.t('confirm.rows.protected_voter')
              %td
                = link_to "Edit", "#options", class: 'edit'
                %span{ 'data-bind' => 'html: summaryAddressConfidentiality' }
            %tr{ 'data-bind' => 'if: requestingAbsentee' }
              %th= I18n.t('confirm.rows.absentee_request')
              %td
                = link_to "Edit", "#options", class: 'edit'
                %span{ 'data-bind' => 'html: summaryAbsenteeRequest' }
            %tr{ 'data-bind' => 'if: showingPartySummary' }
              %th= party_preference_label
              %td
                = link_to "Edit", "#options", class: 'edit'
                %span{ 'data-bind' => 'text: summaryParty' }


            %tr{ 'data-bind' => 'if: phone' }
              %th= I18n.t('confirm.rows.phone')
              %td
                = link_to "Edit", "#identity", class: 'edit'
                %span{ 'data-bind' => 'text: phone' }
            %tr{ 'data-bind' => 'if: email' }
              %th= I18n.t('confirm.rows.email')
              %td
                = link_to "Edit", "#identity", class: 'edit'
                %span{ 'data-bind' => 'text: email' }

            %tr{ 'data-bind' => 'if: needsAssistance' }
              %th= I18n.t('confirm.rows.assistance_request')
              %td
                = link_to "Edit", "#options", class: 'edit'
                %span Yes
            %tr{ 'data-bind' => 'if: beOfficial' }
              %th= I18n.t('confirm.rows.volunteering')
              %td
                = link_to "Edit", "#options", class: 'edit'
                %span Yes

  - if AppConfig['confirm_voting_status_display']
    = render partial: 'confirm_absentee_status'


  .form-actions
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: nextFromConfirm'
    = button_tag '&larr; Back'.html_safe, class: 'back btn', 'data-bind' => 'click: prevPage'
