#congratulations.section{ 'data-bind' => 'vis: page() == "congratulations"' }
  .head
    %h3= raw t 'congratulations.title'
    .description= raw t 'congratulations.description'
  .partition
    .row
      .span10
        = raw t 'congratulations.block_1', office_address: office_address(@registration.vvr_county_or_city)
  .partition
    .row
      .span10
        = raw t 'congratulations.block_2'

  .form-actions
    = button_tag 'Back', class: 'back bt', 'data-bind' => 'click: gotoDownload'
