.row
  .span12
    %h4
      = f.label :rab_election do
        %strong I am applying to vote absentee in:
    - elections = (f.object.upcoming_elections || Dictionaries::ELECTIONS) + [ [ "Other", "other" ] ]
    = f.select :rab_election, elections, { include_blank: true }, { autocomplete: ac, class: 'span6', 'data-bind' => 'instantValidation: { accessor: "rabElection" }' }
<!-- ko if: rabElection() == 'other' -->
.row
  .span6.election-name-field
    = f.label :rab_election_name, "Election name"
    = f.select :rab_election_name, Dictionaries::DEFAULT_ELECTIONS, { include_blank: false }, { autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "rabElectionName" }, valueUpdate: "afterkeyup"' }
  .span3
    = f.label :registration_rab_election_date, "Held on"
    = f.text_field :rab_election_date, autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "rabElectionDate" }, valueUpdate: "afterkeyup"', placeholder: 'MM/DD/YYYY'
<!-- /ko -->
