- updating ||= false

<!-- ko if: domestic -->
.partition
  .row
    .span12
      .checkbox
        = f.check_box :need_assistance, 'data-bind' => 'checked: needsAssistance'
        = f.label :need_assistance do
          %strong= t 'options.domestic.need_assistance'

.partition
  .row
    .span12
      .checkbox
        = f.check_box :be_official, autocomplete: ac, 'data-bind' => 'checked: beOfficial'
        = f.label :be_official do
          %strong= t 'options.being_official'

- if (updating && AppConfig['OVR']['enable_absentee_option_domestic_update']) || (!updating && AppConfig['OVR']['enable_absentee_option_domestic_new'])
  .partition
    .row
      .span12
        .checkbox
          = f.check_box :requesting_absentee, 'data-bind' => 'checkedWithInit: requestingAbsentee', autocomplete: ac
          = f.label :requesting_absentee do
            %strong= t 'options.domestic.requesting_absentee'
        <!-- ko if: requestingAbsentee -->
        %p= t 'options.domestic.requesting_absentee_info'
        <!-- /ko -->
    <!-- ko if: requestingAbsentee -->
    = render partial: 'domestic_rab_election', locals: { f: f }
    <!-- /ko --> <!-- requestingAbsentee -->

  <!-- ko if: requestingAbsentee -->
  .partition
    = render partial: 'domestic_rab_reason', locals: { f: f }
  <!-- /ko -->
<!-- /ko --> <!-- domestic -->
