- pdf_url         = registration_path(format: 'pdf')
- update        ||= false
- doc             = update ? "Virginia Voter Record" : "Virginia Voter Registration Application"
- acted_doc       = "updated #{doc}"
- review_url      = update ? :back : :root
- review_label    = update ? "Update page" : "Home"
- approval_action = update ? "updated" : "approved"
#download.section{ 'data-bind' => 'vis: page() == "download"' }
  .head
    %h3 Download
    .description
      #{link_to "Download and view", pdf_url, 'data-bind' => 'click: markAsDownloaded', target: '_blank' } your #{acted_doc}.

  .row
    .span10
      = link_to "", pdf_url, class: 'download-link', target: '_blank', 'data-bind' => 'click: markAsDownloaded'
      %p
        We have #{acted_doc} using the
        information you provided. Click the PDF icon below to download. The
        #{doc} PDF will open in your default
        PDF viewing application, or in your web browser.

        %a{ :href => "#" }
          %strong Adobe Acrobat Reader
        is required to view PDF files.

      %p Check the PDF for accuracy.
      %p
        If the PDF has any incorrect information, return to the
        = link_to review_url do
          %strong #{review_label}
        page and re-enter your information.

  .head
    %h3 Print
    .description Print your #{doc}.
  .row
    .span10
      %p
        Print your #{acted_doc} by selecting the PRINT button in the PDF.
        %br/
        You can also select File/Print in your default PDF viewing application.

  .head
    %h3 Sign
    .description Sign and date your #{acted_doc}.
  .row
    .span10
      %p
        Don't forget to sign and date your #{acted_doc}.
        %br/
        Your information will not be #{approval_action} if you do not.

  .head
    %h3 Mail
    .description Mail your #{acted_doc}.
  .row
    .span10
      %p
        Mail your #{acted_doc} and
        %a{ :href => "#" }
          %strong proof of identity
        to your local
        %br/
        Voter Registration Office.
      %p
        %strong= office_address(@registration.vvr_county_or_city)
      %p
        Your return envelope must be postmarked at least 22 days before the next Primary or
        %br/
        General Election in which you plan to vote.

  .form-actions
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: gotoComplete, css: { disabled: downloadInvalid }'
