- pdf_url         = registration_path(format: 'pdf')
- update        ||= false
- doc             = update ? "Virginia Voter Record" : "Virginia Voter Registration Application"
- acted_doc       = "updated #{doc}"
- review_url      = root_path
- review_label    = "Home"
- approval_action = update ? "updated" : "approved"
#final#download.section{ 'data-bind' => 'vis: page() == "final"' }
  .head
    %h3.important= t "download.title1"
    %h3= t "download.title2"
    .description= t "download.subtitle"

  .row
    .span10
      = link_to "", pdf_url, class: 'download-link', alt: t('alt.download_pdf'), target: '_blank', 'data-bind' => 'click: markAsDownloaded'
      = raw t "download.details", doc: doc, review_url: review_url, review_label: review_label

  .head
    %h3= t "download.print.title"
    .description= t "download.print.subtitle", doc: doc
  .row
    .span10= raw t "download.print.details", doc: doc

  .head
    %h3= t "download.sign.title"
    .description= t "download.sign.subtitle", doc: doc
  .row
    .span10= raw t "download.sign.details", doc: doc, approval_action: approval_action

  .head
    %h3= t "download.mail.title"
    .description= t "download.mail.subtitle", doc: doc
  .row
    .span10
      = raw t(update ? "download.mail.details.update" : "download.mail.details.reg", office: office_address(@registration.vvr_county_or_city))

  .row
    .span10= raw t "download.complete"

  .form-actions
    = button_tag 'Done', class: 'done bt', 'data-bind' => 'click: gotoComplete, css: { disabled: downloadInvalid }'
