- pdf_url         = registration_path(format: 'pdf')
- update        ||= false
- doc             = update ? "Virginia Voter Record" : "Virginia Voter Registration Application"
- acted_doc       = "updated #{doc}"
- review_url      = update ? :back : :root
- review_label    = update ? "Update page" : "Home"
- approval_action = update ? "updated" : "approved"
#final#download.section{ 'data-bind' => 'vis: page() == "final"' }
  .head
    %h3.important Congratulations! You're almost done.
    %h3= I18n.t("download.title")
    .description= I18n.t("download.subtitle")

  .row
    .span10
      = link_to "", pdf_url, class: 'download-link', alt: I18n.t('alt.download_pdf'), target: '_blank', 'data-bind' => 'click: markAsDownloaded'
      %p
        We have updated your #{doc} using the
        information you provided. Click the PDF icon to download. The
        #{doc} PDF will open in your default
        PDF viewing application, or in your web browser.

        %a{ :href => "#" }
          %strong Adobe Acrobat Reader
        is required to view PDF files.

      %p Check the PDF for accuracy.
      %p
        If the PDF has any incorrect information, return to the
        = link_to review_url do
          %strong #{review_label}
        page and re-enter your information.

  .head
    %h3 Print
    .description Print your #{doc}.
  .row
    .span10
      %p
        Print your #{acted_doc} by selecting the PRINT button in the PDF.
        %br/
        You can also select File/Print in your default PDF viewing application.

  .head
    %h3 Sign
    .description Sign and date your #{acted_doc}.
  .row
    .span10
      %p
        Don't forget to sign and date your #{acted_doc}.
        %br/
        Your information will not be #{approval_action} if you do not.

  .head
    %h3 Mail
    .description Mail your #{acted_doc}.
  .row
    .span10
      - if update
        %p
          Mail your updated voter registration form to your local
          Voter Registration office
      - else
        %p
          Mail your voter registration form and proof of identity to your local
          Voter Registration office

      %p
        %strong= office_address(@registration.vvr_county_or_city)

      - if !update
        %p= I18n.t('download.proof_of_identity')

      %p
        Your return envelope must be postmarked at least 22 days before the next Primary or
        %br/
        General Election in which you plan to vote.

  .row
    .span10
      %p
        You may complete registration applications in person at a
        local election official office, DMV, and other
        Virginia government agencies.
      %p
        Within 30 days of submitting or mailing your
        Virginia Voter Registration Application, you should receive a
        voter card by mail that will confirm you are registered to vote.
        If you do not receive a voter card within that time, please contact the
        Virginia State Board of Elections using the contact information provided below.

  .form-actions
    = button_tag 'Done &rarr;'.html_safe, class: 'done btn', 'data-bind' => 'click: gotoComplete, css: { disabled: downloadInvalid }'
