#eligibility.section{ 'data-bind' => 'vis: page() == "eligibility"' }
  .head
    %h3 Eligibility
    .description Eligibility to vote in Virginia.
  %p
    To be eligible to vote, you must meet the requirements for citizenship, age,
    qualification, and residence. To proceed with registering to vote, you must indicate
    whether you meet each of these requirements. If you are already registered with your
    current name and address, you do not need to re-register.

  .partition.citizen
    %h4 Are you a citizen of the United States of America?
    .radio
      = f.radio_button :citizen, '1', 'data-bind' => 'checked: citizen'
      %label{ for: 'registration_citizen_1' } Yes
    .radio
      = f.radio_button :citizen, '0', 'data-bind' => 'checked: citizen'
      %label{ for: 'registration_citizen_0' } No

  .partition.old_enough
    %h4 Will you be at least 18 years of age on or before the next Election Day?
    .radio
      = f.radio_button :old_enough, '1', 'data-bind' => 'checked: oldEnough'
      %label{ for: 'registration_old_enough_1' } Yes
    .radio
      = f.radio_button :old_enough, '0', 'data-bind' => 'checked: oldEnough'
      %label{ for: 'registration_old_enough_0' } No

  .partition
    .radio
      = f.radio_button :residence, 'in', 'data-bind' => 'checked: residence'
      %label{ for: 'registration_residence_in' } I am currently a resident of Virginia
    .radio
      = f.radio_button :residence, 'outside', 'data-bind' => 'checked: residence'
      %label{ for: 'registration_residence_outside' } I live outside of the U.S., but the most recent U.S. residence was in Virginia

  .partition.rights_revoked
    %h4 Have your voting rights been revoked in the past?
    .radio
      = f.radio_button :rights_revoked, '0', 'data-bind' => 'checked: rightsWereRevoked'
      %label{ for: 'registration_rights_revoked_0' } No
    .radio
      = f.radio_button :rights_revoked, '1', 'data-bind' => 'checked: rightsWereRevoked'
      %label{ for: 'registration_rights_revoked_1' } Yes

    .block.revoked{ 'data-bind' => "visible: rightsWereRevoked() == '1'" }
      %h4 Why were your voting rights revoked?
      .radio
        = f.radio_button :rights_revoked_reason, 'felony', 'data-bind' => 'checked: rightsRevokationReason'
        %label{ for: 'registration_rights_revoked_reason_felony' } Due to Felony
      .radio
        = f.radio_button :rights_revoked_reason, 'mental', 'data-bind' => 'checked: rightsRevokationReason'
        %label{ for: 'registration_rights_revoked_reason_mental' } Due to mental incapacity

      .block
        %h4 Were your voting rights restored?
        .radio
          = f.radio_button :rights_restored, '1', 'data-bind' => 'checked: rightsWereRestored'
          %label{ for: 'registration_rights_restored_1' } Yes
        .radio
          = f.radio_button :rights_restored, '0', 'data-bind' => 'checked: rightsWereRestored'
          %label{ for: 'registration_rights_restored_0' } No

      <!-- ko if: rightsWereRestored() == '1' -->
      .block{ 'data-bind' => "visible: rightsRevokationReason" }
        %label{ for: 'registration_rights_restored_in' } In what state were your voting rights restored?
        .select= f.select :rights_restored_in, Dictionaries::STATES, { class: 'span3' }

      .block
        .date
          %label{ for: 'registration_rights_restored_on_2i_' } On what date were your voting rights restored?
          = bound_date f, :rights_restored_on, :end_year => Date.today.year
      <!-- /ko -->

      .block.ineligible{ 'data-bind' => "visible: rightsWereRestored() == '0'" }
        %p= I18n.t("ineligible.rights")

  .partition
    .date
      %label{ for: 'registration_dob_2i_' } Date of birth
      = bound_date f, :dob, :start_year => Date.today.year - 120, :end_year => Date.today.year - 17

  .partition
    .security-number
      %label{ for: 'registration_ssn' } Social Security Number
      <!-- ko if: !noSSN() -->
      = f.text_field :ssn, autocomplete: ac, placeholder: 'NNNNNNNNN', maxlength: 9, 'data-bind' => 'instantValidation: { accessor: "ssn", validation: "ssn" }', class: 'span3'
      <!-- /ko -->
      .checkbox
        = f.check_box :no_ssn, 'data-bind' => 'checked: noSSN'
        %label{ for: 'registration_no_ssn' }
          I do not have a Social Security Number

  .partition
    .dmv
      %label{ for: 'registration_dmv_id' } Department of Motor Vehicles ID Number
      <!-- ko if: !noDmvId() -->
      = f.text_field :dmv_id, autocomplete: ac, maxlength: 12, 'data-bind' => 'instantValidation: { accessor: "dmvId", validation: "isDmvId" }', placeholder: 'From 9 to 12 letters or numbers', class: 'span3'
      <!-- /ko -->
      .checkbox
        = f.check_box :no_dmv_id, 'data-bind' => 'checked: noDmvId'
        %label{ for: 'registration_no_dmv_id' }
          I do not have a DMV ID number

  .form-actions
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: checkEligibility, css: { disabled: eligibilityInvalid }'
