- min = AppConfig['state_id_length']['min']
- max = AppConfig['state_id_length']['max']
.partition
  .dmv
    = f.label :dmv_id, t("dmvid")
    = f.text_field :dmv_id, autocomplete: ac, maxlength: max, 'data-bind' => 'disable: noDmvId, instantValidation: { accessor: "dmvId", validation: "isDmvId", unless: "noDmvId" }, valueUpdate: "afterkeyup"', placeholder: "From #{min} to #{max} letters or numbers", class: 'span4'
    - if AppConfig['dmv_id_checkbox']
      .checkbox
        = f.check_box :no_dmv_id, 'data-bind' => 'checked: noDmvId'
        = f.label :no_dmv_id, t("eligibility.dmvid.dont_have")
  %p= raw t('eligibility.dmvid.details')
  %p= raw t('eligibility.dmvid.unable')
