- condition = 'page() == "eligibility"'
- if eligibility_config['combine_with_identity']
  - condition += " || page() == 'identity'";

#eligibility.section{ 'data-bind' => 'vis: ' + condition }
  .head
    %h3= raw t 'eligibility.title'
    .description= raw t 'eligibility.description'
  %p= raw t 'eligibility.details'

  - if default_eligibility_config?
    - eligibility_config['requirements'].each do |req_key|
      = render partial: 'eligibility_requirement', locals: {f: f, requirement_key: req_key }
  
  - else 
    - if eligibility_config['enable_method_virginia']
      = render partial: 'eligibility_citizen', locals: { f: f }
      = render partial: 'eligibility_age', locals: { f: f }

      .partition
        .radio
          = f.radio_button :residence, 'in', 'data-bind' => 'checked: residence'
          %label{ for: 'registration_residence_in' } #{t('eligibility.residence.in')}
        - if enabled_uocava_reg
          .radio
            = f.radio_button :residence, 'outside', 'data-bind' => 'checked: residence'
            %label{ for: 'registration_residence_outside' } #{t('eligibility.residence.out')}

      = render partial: 'eligibility_rights', locals: { f: f }
        
      
  - if eligibility_config['CollectPersonalData'] && !eligibility_config['combine_with_identity']
    .partition
      .date
        %label{ for: 'registration_dob_2i_' }= t 'identity.date_of_birth'
        = bound_date f, :dob, :start_year => Date.today.year - 120, :end_year => Date.today.year - 17

    = render partial: 'eligibility_ssn', locals: { f: f }
    = render partial: 'eligibility_dmvid', locals: { f: f }
    = render partial: 'eligibility_image', locals: { f: f }


  .form-actions{style: "#{eligibility_config['combine_with_identity'] ? 'display: none;' : ''}"}
    = button_tag 'Next', class: 'next right bt', 'data-bind' => 'click: nextFromEligibility, css: { disabled: eligibilityInvalid }'
