#eligibility.section{ 'data-bind' => 'vis: page() == "eligibility"' }
  .head
    %h3 Eligibility
    .description Eligibility to vote in Virginia.
  %p= I18n.t('eligibility.details')

  .partition.citizen
    %h4= I18n.t('eligibility.citizen.question')
    .radio
      = f.radio_button :citizen, '1', 'data-bind' => 'checked: citizen'
      %label{ for: 'registration_citizen_1' } Yes
    .radio
      = f.radio_button :citizen, '0', 'data-bind' => 'checked: citizen'
      %label{ for: 'registration_citizen_0' } No
    .block.ineligible{ 'data-bind' => "visible: citizen() == '0'" }
      %p= I18n.t("eligibility.citizen.ineligible")

  - if AppConfig['eligibility_18_display']
    .partition.old_enough
      %h4= I18n.t('eligibility.old_enough.question')
      .radio
        = f.radio_button :old_enough, '1', 'data-bind' => 'checked: oldEnough'
        %label{ for: 'registration_old_enough_1' } Yes
      .radio
        = f.radio_button :old_enough, '0', 'data-bind' => 'checked: oldEnough'
        %label{ for: 'registration_old_enough_0' } No
  - else
    = hidden_field_tag "registration[old_enough]", 1, 'data-bind' => 'valueWithInit: oldEnough'

  .partition
    .radio
      = f.radio_button :residence, 'in', 'data-bind' => 'checked: residence'
      %label{ for: 'registration_residence_in' } #{I18n.t('eligibility.residence.in')}
    .radio
      = f.radio_button :residence, 'outside', 'data-bind' => 'checked: residence'
      %label{ for: 'registration_residence_outside' } #{I18n.t('eligibility.residence.out')}

  .partition.rights_revoked
    %h4= I18n.t('eligibility.rights.question')
    .radio
      = f.radio_button :rights_revoked, '0', 'data-bind' => 'checked: rightsWereRevoked'
      %label{ for: 'registration_rights_revoked_0' } No
    .radio
      = f.radio_button :rights_revoked, '1', 'data-bind' => 'checked: rightsWereRevoked'
      %label{ for: 'registration_rights_revoked_1' } Yes

    .block.revoked{ 'data-bind' => "visible: rightsWereRevoked() == '1'" }
      %h4 Why were your voting rights revoked?
      .radio
        = f.radio_button :rights_revoked_reason, 'felony', 'data-bind' => 'checked: rightsRevokationReason'
        %label{ for: 'registration_rights_revoked_reason_felony' } Due to Felony
      .radio
        = f.radio_button :rights_revoked_reason, 'mental', 'data-bind' => 'checked: rightsRevokationReason'
        %label{ for: 'registration_rights_revoked_reason_mental' } Due to mental incapacity

      .block
        %h4 Were your voting rights restored?
        .radio
          = f.radio_button :rights_restored, '1', 'data-bind' => 'checked: rightsWereRestored'
          %label{ for: 'registration_rights_restored_1' } Yes
        .radio
          = f.radio_button :rights_restored, '0', 'data-bind' => 'checked: rightsWereRestored'
          %label{ for: 'registration_rights_restored_0' } No

      <!-- ko if: rightsWereRestored() == '1' -->
      .block{ 'data-bind' => "visible: rightsRevokationReason" }
        %label{ for: 'registration_rights_restored_in' } In what state were your voting rights restored?
        .select= f.select :rights_restored_in, Dictionaries::STATES, { class: 'span3' }

      .block
        .date
          %label{ for: 'registration_rights_restored_on_2i_' } On what date were your voting rights restored?
          = bound_date f, :rights_restored_on, :end_year => Date.today.year
      <!-- /ko -->

      .block.ineligible{ 'data-bind' => "visible: rightsWereRestored() == '0'" }
        %p= I18n.t("eligibility.rights.ineligible")

  .partition
    .date
      %label{ for: 'registration_dob_2i_' } Date of birth
      = bound_date f, :dob, :start_year => Date.today.year - 120, :end_year => Date.today.year - 17

  .partition
    .security-number
      %label{ for: 'registration_ssn' } Social Security Number
      = f.text_field :ssn, autocomplete: ac, placeholder: "NNN-NN-NNNN", maxlength: 11, 'data-bind' => 'visible: !noSSN(), instantValidation: { accessor: "ssn", validation: "ssn" }', class: 'span3 ssn'
      .checkbox
        = f.check_box :no_ssn, 'data-bind' => 'checked: noSSN'
        %label{ for: 'registration_no_ssn' }
          I do not have a Social Security Number

  .partition
    .dmv
      %label{ for: 'registration_dmv_id' } #{I18n.t("eligibility.dmvid.title")}
      = f.text_field :dmv_id, autocomplete: ac, maxlength: 12, 'data-bind' => 'instantValidation: { accessor: "dmvId", validation: "isDmvId" }', placeholder: 'From 9 to 12 letters or numbers', class: 'span3'
    %p= I18n.t('eligibility.dmvid.details')

  .form-actions
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: checkEligibility, css: { disabled: eligibilityInvalid }'
