- if identity_config['enable_transport_id_number']
  - min = AppConfig['OVR']['state_id_length']['min']
  - max = AppConfig['OVR']['state_id_length']['max']
  .partition
    .dmv
      = f.label :dmv_id do
        = identity_field_option_label(:transport_id_number)
      - if identity_config['require_transport_id_number']
        = f.text_field :dmv_id, autocomplete: ac, maxlength: max, 'data-bind' => 'disable: noDmvId, instantValidation: { accessor: "dmvId", validation: "isDmvId", unless: "noDmvId" }, valueUpdate: "afterkeyup"', placeholder: "From #{min} to #{max} letters or numbers", class: 'span4'
        .checkbox
          = f.check_box :no_dmv_id, 'data-bind' => 'checked: noDmvId'
          = f.label :no_dmv_id, t("eligibility.dmvid.dont_have")
      - else
        = f.text_field :dmv_id, autocomplete: ac, maxlength: max, 'data-bind' => 'instantValidation: { accessor: "dmvId", validation: "isDmvId", unless: true }, valueUpdate: "afterkeyup"', placeholder: "From #{min} to #{max} letters or numbers", class: 'span4'
      
    %p= raw t 'eligibility.dmvid.details'
    %p= raw t 'eligibility.dmvid.unable'
