#eligibility.section{ 'data-bind' => 'vis: page() == "eligibility"' }
  .head
    %h3= raw t 'eligibility.title'
    .description= raw t 'eligibility.update_description'
  %p= raw t 'eligibility.details'

  = render partial: 'eligibility_citizen', locals: { f: f }
  = render partial: 'eligibility_age', locals: { f: f }

  - if @registration.currently_residential?
    - res_in_label = t('eligibility.residence.in')
    - res_out_label = t('eligibility.residence.out')
  - else
    - res_in_label = t('eligibility.residence.in_overseas')
    - res_out_label = t('eligibility.residence.out_overseas')

  .partition
    .radio
      = f.radio_button :residence, 'in', 'data-bind' => 'checkedWithInit: residence'
      %label{ for: 'registration_residence_in' } #{res_in_label}
    - if enabled_uocava_reg
      .radio
        = f.radio_button :residence, 'outside', 'data-bind' => 'checkedWithInit: residence'
        %label{ for: 'registration_residence_outside' } #{res_out_label}

  = render partial: 'eligibility_rights', locals: { f: f }
  - if AppConfig['personal_data_on_eligibility_page']
    = render partial: 'eligibility_ssn', locals: { f: f }
    = render partial: 'eligibility_dmvid', locals: { f: f }

  .form-actions
    = button_tag 'Next', class: 'next bt', 'data-bind' => 'click: nextFromEligibility, css: { disabled: eligibilityInvalid }'
