#eligibility.section{ 'data-bind' => 'vis: page() == "eligibility"' }
  .head
    %h3 Eligibility
    .description Eligibility to vote in Virginia.
  %p= I18n.t('eligibility.details')

  .partition.citizen
    %h4= I18n.t('eligibility.citizen.question')
    .radio
      = f.radio_button :citizen, '1', 'data-bind' => 'checked: citizen'
      %label{ for: 'registration_citizen_1' } Yes
    .radio
      = f.radio_button :citizen, '0', 'data-bind' => 'checked: citizen'
      %label{ for: 'registration_citizen_0' } No
    .block.ineligible{ 'data-bind' => "visible: citizen() == '0'" }
      %p= I18n.t("eligibility.citizen.ineligible")

  - if AppConfig['eligibility_18_display']
    .partition.old_enough
      %h4= I18n.t('eligibility.old_enough.question')
      .radio
        = f.radio_button :old_enough, '1', 'data-bind' => 'checked: oldEnough'
        %label{ for: 'registration_old_enough_1' } Yes
      .radio
        = f.radio_button :old_enough, '0', 'data-bind' => 'checked: oldEnough'
        %label{ for: 'registration_old_enough_0' } No
  - else
    = hidden_field_tag "registration[old_enough]", 1, 'data-bind' => 'valueWithInit: oldEnough'

  .partition
    .radio
      = f.radio_button :residence, 'in', 'data-bind' => 'checked: residence'
      %label{ for: 'registration_residence_in' } #{I18n.t('eligibility.residence.in')}
    .radio
      = f.radio_button :residence, 'outside', 'data-bind' => 'checked: residence'
      %label{ for: 'registration_residence_outside' } #{I18n.t('eligibility.residence.out')}

  .partition.rights_revoked
    %h4= I18n.t('eligibility.rights.question')
    .radio
      = f.radio_button :rights_revoked, '0', 'data-bind' => 'checked: rightsWereRevoked'
      %label{ for: 'registration_rights_revoked_0' } No
    .radio
      = f.radio_button :rights_revoked, '1', 'data-bind' => 'checked: rightsWereRevoked'
      %label{ for: 'registration_rights_revoked_1' } Yes

    .block.revoked.in{ 'data-bind' => "visible: rightsWereRevoked() == '1'" }
      %h4= I18n.t('eligibility.rights.felony.question')
      .radio
        = f.radio_button :rights_felony, '1', 'data-bind' => 'checkedWithInit: rightsFelony'
        = f.label 'rights_felony_1', 'Yes'
      .radio
        = f.radio_button :rights_felony, '0', 'data-bind' => 'checkedWithInit: rightsFelony'
        = f.label 'rights_felony_0', 'No'

      .in{ 'data-bind' => 'if: rightsFelony() == "1"' }
        = f.label :rights_felony_restored_in, I18n.t('eligibility.rights.felony.state')
        .select= f.select :rights_felony_restored_in, Dictionaries::STATES, {}, class: 'span3', 'data-bind' => 'value: rightsFelonyRestoredIn'

        %h4= I18n.t('eligibility.rights.felony.restored')
        .radio
          = f.radio_button :rights_felony_restored, '1', 'data-bind' => 'checked: rightsFelonyRestored'
          = f.label 'rights_felony_restored_1', 'Yes'
        .radio
          = f.radio_button :rights_felony_restored, '0', 'data-bind' => 'checked: rightsFelonyRestored'
          = f.label 'rights_felony_restored_0', 'No'

        .date{ 'data-bind' => 'if: rightsFelonyRestored() == "1"' }
          = label 'rights_felony_restored_on_2i_', I18n.t('eligibility.rights.felony.date')
          = bound_date f, :rights_felony_restored_on, :end_year => Date.today.year

      %h4= I18n.t('eligibility.rights.mental.question')
      .radio
        = f.radio_button :rights_mental, '1', 'data-bind' => 'checkedWithInit: rightsMental'
        = f.label 'rights_mental_1', 'Yes'
      .radio
        = f.radio_button :rights_mental, '0', 'data-bind' => 'checkedWithInit: rightsMental'
        = f.label 'rights_mental_0', 'No'

      .in{ 'data-bind' => 'if: rightsMental() == "1"' }
        %h4= I18n.t('eligibility.rights.mental.restored')
        .radio
          = f.radio_button :rights_mental_restored, '1', 'data-bind' => 'checked: rightsMentalRestored'
          = f.label 'rights_mental_restored_1', 'Yes'
        .radio
          = f.radio_button :rights_mental_restored, '0', 'data-bind' => 'checked: rightsMentalRestored'
          = f.label 'rights_mental_restored_0', 'No'

        .date{ 'data-bind' => 'if: rightsMentalRestored() == "1"' }
          = label 'rights_mental_restored_on_2i_', I18n.t('eligibility.rights.felony.date')
          = bound_date f, :rights_mental_restored_on, :end_year => Date.today.year

  .partition
    .date
      %label{ for: 'registration_dob_2i_' } Date of birth
      = bound_date f, :dob, :start_year => Date.today.year - 120, :end_year => Date.today.year - 17

  .partition
    .security-number
      = f.label :ssn, "Social Security Number"
      = f.text_field :ssn, autocomplete: ac, placeholder: "NNN-NN-NNNN", maxlength: 11, 'data-bind' => 'visible: !noSSN(), instantValidation: { accessor: "ssn", validation: "ssn" }, valueUpdate: "afterkeyup"', class: 'span3 ssn'
      .checkbox
        = f.check_box :no_ssn, 'data-bind' => 'checked: noSSN'
        = f.label :no_ssn, "I do not have a Social Security Number"

  .partition
    .dmv
      = f.label :dmv_id, I18n.t("dmvid")
      = f.text_field :dmv_id, autocomplete: ac, maxlength: 12, 'data-bind' => 'instantValidation: { accessor: "dmvId", validation: "isDmvId" }, valueUpdate: "afterkeyup"', placeholder: 'From 9 to 12 letters or numbers', class: 'span3'
    %p= I18n.t('eligibility.dmvid.details')

  .form-actions
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: checkEligibility, css: { disabled: eligibilityInvalid }'
