= hidden_field_tag :allow_ineligible_to_complete_form, AppConfig['allow_ineligible_to_complete_form']
= hidden_field_tag :edit_mailing_address_at_protected_voter, AppConfig['edit_mailing_address_at_protected_voter']
= hidden_field_tag :ssn_required, AppConfig['ssn_required']
= hidden_field_tag :middle_name_required, AppConfig['middle_name_required']
= hidden_field_tag :name_suffix_required, AppConfig['name_suffix_required']
- c = AppConfig['display_assistant_details']
= hidden_field_tag :display_assistant_details, '', 'data-paper' => c['paper'], 'data-paperless' => c['paperless']
