- updating ||= false
.row.personal-info
  - if identity_field_enabled?(:name_prefix)
    .span1
      = f.label :name_prefix do
        = identity_field_option_label(:name_prefix)
      = f.select :name_prefix, identity_field_options(:name_prefix), { include_blank: true }, { autocomplete: ac, class: 'span1', 'data-bind' => "instantValidation: { accessor: \"namePrefix\", unless: #{!identity_field_required?(:name_prefix)}}",  required: identity_field_required?(:name_prefix)}
  - if identity_field_enabled?(:first_name)
    .span3
      = f.label :first_name do
        = identity_field_option_label(:first_name)
      = f.text_field :first_name, autocomplete: ac, 'data-bind' => "instantValidation: { accessor: \"firstName\" , unless: #{!identity_field_required?(:first_name)}}, valueUpdate: \"afterkeyup\"", required: identity_field_required?(:first_name), class: 'span2'
  - if identity_field_enabled?(:middle_name)
    .span2
      = f.label :middle_name do
        = identity_field_option_label(:middle_name)
      = f.text_field :middle_name, autocomplete: ac, 'data-bind' => "instantValidation: { accessor: \"middleName\", unless: #{!identity_field_required?(:middle_name)} }, valueUpdate: \"afterkeyup\"", required: identity_field_required?(:middle_name), class: 'span2'
  - if identity_field_enabled?(:middle_name)
    .span3
      = f.label :last_name do
        = identity_field_option_label(:last_name)
      = f.text_field :last_name, autocomplete: ac, 'data-bind' => "instantValidation: { accessor: \"lastName\", unless: #{!identity_field_required?(:last_name)} }, valueUpdate: \"afterkeyup\"", required: identity_field_required?(:last_name), class: 'span2'
      
  - if identity_field_enabled?(:name_suffix)
    .span1
      = f.label :name_suffix do
        = identity_field_option_label(:name_suffix)
      = f.select :name_suffix, identity_field_options(:name_suffix), { include_blank: true }, { autocomplete: ac, class: 'span1', 'data-bind' => "instantValidation: { accessor: \"nameSuffix\", unless: #{!identity_field_required?(:name_suffix)} }", required: identity_field_required?(:name_suffix) }
    
      