- personal_data_here = !(AppConfig['OVR']['Eligibility']['CollectPersonalData'] && !AppConfig['OVR']['Eligibility']['CombineWithIdentity'])
- span23 = personal_data_here ? 'span2' : 'span3'
- condition = 'page() == "identity"'
- if AppConfig['OVR']['Eligibility']['CombineWithIdentity']
  - condition += " || page() == 'eligibility'";
#identity.section{ 'data-bind' => 'visible: ' + condition }
  .head
    %h3 Identity
    .description Identify who you are

  .partition
    = render partial: "identity_name", locals: { f: f }
    .row.personal-info
      - if personal_data_here
        .span4
          .date
            %label{ for: 'registration_dob_2i_' } Date of birth
            = bound_date f, :dob, :start_year => Date.today.year - 120, :end_year => Date.today.year - 17
      - if collecting? :gender
        %div{ class: span23 }
          = f.label :gender
          = f.select :gender, [ 'Male', 'Female' ], { include_blank: true }, { autocomplete: ac, class: span23, 'data-bind' => 'instantValidation: { accessor: "gender" }' }
      .email-field{ class: span23 }
        = f.label :email do
          Email
          %span (optional)
        = f.text_field :email, autocomplete: ac, placeholder: 'john@smith.com', 'data-bind' => 'instantValidation: { accessor: "email", attribute: "validEmail" }', class: span23
      .phone-field{ class: 'span3' }
        = f.label :phone do
          Phone
          %span (optional)
        = f.text_field :phone, autocomplete: ac, placeholder: '(NNN) NNN-NNNN', 'data-bind' => 'instantValidation: { accessor: "phone", attribute: "validPhone" }', class: span23
        <!-- ko if: overseas -->
        %small= t 'overseas_phone'
        <!-- /ko -->

  - if personal_data_here
    = render partial: 'eligibility_ssn', locals: { f: f }
    = render partial: 'eligibility_dmvid', locals: { f: f }

  = render partial: 'registrations/protected_voter', locals: { f: f }

  .form-actions
    = button_tag 'Next', class: 'next bt', 'data-bind' => 'click: nextFromIdentity, css: { disabled: identityInvalid }'
    = button_tag 'Back', class: 'back bt', 'data-bind' => 'click: backFromIdentity', style: "#{AppConfig['OVR']['Eligibility']['CombineWithIdentity'] ? 'display: none;' : ''}"
