#identity.section{ 'data-bind' => 'vis: page() == "identity"' }
  .head
    %h3 Identity
    .description Identify who you are

  .row.personal-info
    .span3
      %span
        First name
        %label (optional)
      = f.text_field :first_name, { 'data-bind' => 'valueWithInit: firstName' }
    .span3
      %span
        Full middle
        %label (optional)
      = f.text_field :middle_name, { 'data-bind' => 'value: middleName' }
    .span3
      %span Last name
      = f.text_field :last_name, { 'data-bind' => 'instantValidation: { accessor: "lastName" }' }
    .span2
      %span
        Suffix
        %label (optional)
      = f.select :suffix, Dictionaries::NAME_SUFFIXES, { include_blank: true }, { class: 'span1', 'data-bind' => 'value: suffix' }

  .row
    .span12.date
      %label Date of birth
      = bound_date f, :dob, :start_year => Date.today.year - 120, :end_year => Date.today.year - 17

  - if collecting? :registration, :gender
    .row
      .span12
        %label Gender
        = f.select :gender, [ 'Male', 'Female' ], { include_blank: true }, { class: 'span2', 'data-bind' => 'instantValidation: { accessor: "gender" }' }

  .row
    .span12.security-number
      %label Social Security Number
      <!-- ko if: !noSSN() -->
      = f.text_field :ssn, placeholder: 'NNN NN NNNN', 'data-bind' => 'instantValidation: { accessor: "ssn", validation: "ssn" }'
      <!-- /ko -->
      .checkbox
        = f.check_box :no_ssn, 'data-bind' => 'checked: noSSN'
        %label
          I do not have a Social Security Number.
          <!-- ko if: noSSN -->
          %br/
          To register without a Social Security Number you will have to contact your
          %br/
          county’s local
          %a{ :href => "#" }Voter Registration office.
          Find out more
          %a{ :href => "#" }here.
          <!-- /ko -->

  .row
    .span3.phone-field
      %span
        Phone
        %label (optional)
      = f.text_field :phone, placeholder: '(NNN) NNN-NNNN', 'data-bind' => 'instantValidation: { accessor: "phone", attribute: "validPhone" }'
    .span3.email-field
      %span
        Email
        %label (optional)
      = f.text_field :email, placeholder: 'john@smith.com', 'data-bind' => 'instantValidation: { accessor: "email", attribute: "validEmail" }'

  .form-actions
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: nextPage, css: { disabled: identityInvalid }'
    = button_tag '&larr; Back'.html_safe, class: 'back btn', 'data-bind' => 'click: prevPage'
