- personal_data_here = !(AppConfig['OVR']['eligibility']['CollectPersonalData'] && !eligibility_config['combine_with_identity'])
#identity.section{ 'data-bind' => 'vis: page() == "identity"' }
  .head
    %h3 Identity
    .description Identify who you are

  .partition
    = render partial: "identity_name", locals: { f: f, updating: true }

    .row.personal-info
      - if false #collecting? :gender # helper not found
        .span3
          = f.label :gender
          = f.select :gender, [ 'Male', 'Female' ], { }, { autocomplete: ac, class: 'span3', 'data-bind' => 'instantValidation: { accessor: "gender" }' }

      .span3.phone-field
        = f.label :phone do
          Phone
          %span (optional)
        = f.text_field :phone, autocomplete: ac, placeholder: '(NNN) NNN-NNNN', 'data-bind' => 'instantValidation: { accessor: "phone", attribute: "validPhone" }', class: 'span3'
      .span3.email-field
        = f.label :email do
          Email
          %span (optional)
        = f.text_field :email, autocomplete: ac, placeholder: 'john@smith.com', 'data-bind' => 'instantValidation: { accessor: "email", attribute: "validEmail" }'

  - if personal_data_here
    = render partial: 'eligibility_ssn', locals: { f: f }
    = render partial: 'eligibility_dmvid', locals: { f: f }
    = render partial: 'eligibility_image', locals: { f: f }

  = render partial: 'registrations/protected_voter', locals: { f: f }

  .form-actions
    = button_tag 'Next', class: 'next bt', 'data-bind' => 'click: nextFromIdentity, css: { disabled: identityInvalid }'
    = button_tag 'Back', class: 'back bt', 'data-bind' => 'click: backFromIdentity'
