#identity.section{ 'data-bind' => 'vis: page() == "identity"' }
  .head
    %h3 Identity
    .description Identify who you are

  .partition
    .row.personal-info
      .span3
        = f.label :first_name
        = f.text_field :first_name, autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "firstName" }, valueUpdate: "afterkeyup"'
      .span3
        = f.label :middle_name do
          Full middle
          - unless AppConfig['middle_name_required']
            %span (optional)
        = hidden_field_tag "registration[middle_name]", ''
        = f.text_field :middle_name, autocomplete: ac, 'data-bind' => 'valueWithInit: middleName, enable: middleNameEnabled'
      .span3
        = f.label :last_name
        = f.text_field :last_name, autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "lastName" }, valueUpdate: "afterkeyup"'
      .span2
        = f.label :suffix do
          Suffix
          - unless AppConfig['name_suffix_required']
            %span (optional)
        = hidden_field_tag "registration[suffix]", ''
        = f.select :suffix, Dictionaries::NAME_SUFFIXES, { include_blank: true }, { autocomplete: ac, class: 'span1', 'data-bind' => 'valueWithInit: suffix, enable: suffixEnabled' }

    - if AppConfig['middle_name_required']
      .row
        .checkbox
          = check_box_tag :no_middle_name, '1', f.object.middle_name.blank?, 'data-bind' => 'checkedWithInit: noMiddleName'
          = label_tag :no_middle_name, I18n.t('identity.no_middle_name')
    - if AppConfig['name_suffix_required']
      .row
        .checkbox
          = check_box_tag :no_name_suffix, '1', f.object.suffix.blank?, 'data-bind' => 'checkedWithInit: noSuffix'
          = label_tag :no_name_suffix, I18n.t('identity.no_name_suffix')

    .row
      .span2.phone-field
        = f.label :phone do
          Phone
          %span (optional)
        = f.text_field :phone, autocomplete: ac, placeholder: '(NNN) NNN-NNNN', 'data-bind' => 'instantValidation: { accessor: "phone", attribute: "validPhone" }', class: 'span2'
      .span3.email-field
        = f.label :email do
          Email
          %span (optional)
        = f.text_field :email, autocomplete: ac, placeholder: 'john@smith.com', 'data-bind' => 'instantValidation: { accessor: "email", attribute: "validEmail" }'

  = render partial: 'registrations/protected_voter', locals: { f: f }

  .form-actions
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: nextFromIdentity, css: { disabled: identityInvalid }'
    = button_tag '&larr; Back'.html_safe, class: 'back btn', 'data-bind' => 'click: prevPage'
