#identity.section{ 'data-bind' => 'vis: page() == "identity"' }
  .head
    %h3 Identity
    .description Identify who you are

  .partition
    = render partial: "identity_name", locals: { f: f }
    - if collecting? :registration, :gender
      .row
        .span12
          = f.label :gender
          = f.select :gender, [ 'Male', 'Female' ], { include_blank: true }, { autocomplete: ac, class: 'span2', 'data-bind' => 'instantValidation: { accessor: "gender" }' }

    .row
      .span2.phone-field
        = f.label :phone do
          Phone
          %span (optional)
        = f.text_field :phone, autocomplete: ac, placeholder: '(NNN) NNN-NNNN', 'data-bind' => 'instantValidation: { accessor: "phone", attribute: "validPhone" }', class: 'span2'
      .span3.email-field
        = f.label :email do
          Email
          %span (optional)
        = f.text_field :email, autocomplete: ac, placeholder: 'john@smith.com', 'data-bind' => 'instantValidation: { accessor: "email", attribute: "validEmail" }'

  = render partial: 'registrations/protected_voter', locals: { f: f }

  .form-actions
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: nextFromIdentity, css: { disabled: identityInvalid }'
    = button_tag '&larr; Back'.html_safe, class: 'back btn', 'data-bind' => 'click: prevPage'
