<!-- ko if: domestic -->
.partition
  %h4 Is your Mailing address the same as your Registration address?
  .radio
    = f.radio_button :ma_is_same, '0', { 'data-bind' => 'checkedWithInit: maIsSame' }
    %label No
  .radio
    = f.radio_button :ma_is_same, '1', { 'data-bind' => 'checkedWithInit: maIsSame' }
    %label Yes
  <!-- ko if: maIsSame() == '0' -->
  .row
    .span3
      %span
        Street number
      = f.text_field :ma_street_number, autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "maStreetNumber" }'
    .span3
      %span
        Street name
      = f.text_field :ma_street_name, autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "maStreetName" }'
    .span2.street-type-field
      %span
        Street type
      = f.select :ma_street_type, Dictionaries::STREET_TYPES, { include_blank: true }, { autocomplete: ac, class: 'span1', 'data-bind' => 'instantValidation: { accessor: "maStreetType" }' }
    .span2.lot-field
      %span
        Apt/Lot
        %label (optional)
      = f.text_field :ma_apt, autocomplete: ac, 'data-bind' => 'valueWithInit: maApt'
  .row
    .span3
      %span City
      = f.text_field :ma_city, autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "maCity" }'
    .span2.state-field
      %span State
      = f.select :ma_state, Dictionaries::STATES, { include_blank: true }, { autocomplete: ac, class: 'span3', 'data-bind' => 'instantValidation: { accessor: "maState" }' }
    .span3.zip-field
      %span Zip code
      = f.text_field :ma_zip5, autocomplete: ac, class: 'first-zip', 'data-bind' => 'instantValidation: { accessor: "maZip5", validation: "zip5" }', placeholder: 'NNNNN', maxlength: 5
      .space &mdash;
      = f.text_field :ma_zip4, autocomplete: ac, class: 'second-zip', 'data-bind' => 'valueWithInit: maZip4', placeholder: 'NNNN', maxlength: 4
  <!-- /ko -->
<!-- /ko -->
