<!-- ko if: overseas -->
.head
  %h3 Mailing address

.row
  .radio
    = radio_button :registration, :mau_type, 'non-us', 'data-bind' => 'checkedWithInit: mauType'
    %label{ for: 'registration_mau_type_non-us' } I prefer that voting materials be sent to me at a different non-U.S address
  .radio
    = radio_button :registration, :mau_type, 'apo', 'data-bind' => 'checkedWithInit: mauType'
    %label{ for: 'registration_mau_type_apo' } I prefer that voting materials be sent to me at an APO/DPO/FPO address

<!-- ko if: mauType() == 'non-us' -->
= render partial: 'non_us_address', locals: { f: f, prefix: 'mau' }
<!-- /ko -->

<!-- ko if: mauType() == 'apo' -->
.row
  .span3.address-field
    = f.label :apo_address, t('addresses.address')
    = f.text_field :apo_address,   autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "mauAPOAddress1" }, valueUpdate: "afterkeyup"'
    = f.label :apo_address_2 do
      = t('addresses.address_2')
      %span= t('optional')
    = f.text_field :apo_address_2, autocomplete: ac, 'data-bind' => 'valueWithInit: mauAPOAddress2, valueUpdate: "afterkeyup"'
.row
  .span1
    = select :registration, :apo_city, options_for_select([ 'APO', 'DPO', 'FPO' ]), {}, autocomplete: ac, class: 'inline span1', 'data-bind' => 'valueWithInit: mauAPO1'
  .span1
    = select :registration, :apo_state, options_for_select([ 'AA', 'AE', 'AP' ]), {}, autocomplete: ac, class: 'inline span1', 'data-bind' => 'valueWithInit: mauAPO2'
  .span1
    = text_field :registration, :apo_zip5, placeholder: 'ZIP 5', maxlength: 5, autocomplete: ac, class: 'inline span1', 'data-bind' => 'instantValidation: { accessor: "mauAPOZip5", validation: "zip5" }, valueUpdate: "afterkeyup"'
<!-- /ko -->

<!-- /ko -->
