- updating ||= false
- dmv_id_submission = AppConfig['dmv_id_submission']

.head
  %h3 Complete Your Application
  .description= I18n.t('oath.subheader')

- if updating
  .partition#ssn_details
    %p
      Please provide the your Social Security Number,
      and read the Registration Statement and Privacy Act.

    - if dmv_id_submission
      %p
        In addition, if you provide a valid DMV ID number, you may be eligible to submit
        your application online, without the requirement to print, sign, and mail an application form.

    .row
      .span10
        %label{ for: 'registration_ssn' } Social Security Number
        = f.text_field :ssn, autocomplete: ac, placeholder: 'NNN-NN-NNNN', maxlength: 11, 'data-bind' => 'visible: !noSSN(), instantValidation: { accessor: "ssn", validation: "ssn" }', class: 'span3 ssn'
        .checkbox
          = f.check_box :no_ssn, 'data-bind' => 'checked: noSSN'
          %label{ for: 'registration_no_ssn' }
            I do not have a Social Security Number
        <!-- ko if: noSSN -->
        %p= I18n.t("nossn")
        <!-- /ko -->

    - if dmv_id_submission
      <!-- ko if: !noSSN() -->
      .row
        .span10
          %label{ for: 'registration_dmv_id' } Department of Motor Vehicles ID Number
          = f.text_field :dmv_id, autocomplete: ac, maxlength: 12, 'data-bind' => 'instantValidation: { accessor: "dmvId", validation: "isDmvId" }', placeholder: 'From 9 to 12 letters or numbers', class: 'span3'
      <!-- /ko -->


.partition
  .row
    .span10
      %strong Registration Statement
      .checkbox
        = check_box :registration, :information_correct, 'data-bind' => 'instantValidation: { accessor: "infoCorrect" }'
        = f.label :information_correct, I18n.t('oath.information_correct')

.partition
  .row
    .span10
      %span
        %strong Privacy Act Notice
  .row
    .span10
      .notice
        Privacy Act Notice: Article II, Section 2 of the Constitution of Virginia (1971) requires that a person registering to vote provide his or her social security number, if any. Therefore, if you do not provide your social security number, your application for voter registration will be denied. Section 7 of the Federal Privacy Act (Public Law Number 93-579) allows the Commonwealth to enforce this requirement, but also requires that you be advised that state and local voting officials will use the social security number as a unique identifier to ensure that no person is registered in more than one place. This registration card will not be open to inspection by the public. Your social security number will appear on reports produced only for official use by voter registration and election officials, and for jury selection purposes by courts.
  .row
    .span10
      .checkbox
        = check_box :registration, :privacy_agree, 'data-bind' => 'instantValidation: { accessor: "privacyAgree" }'
        %label{ for: 'registration_privacy_agree' }
          %strong I have read and agree with the terms of the Privacy Act Notice.
