- updating ||= false
- dmv_id_submission = AppConfig['dmv_id_submission']

.head
  %h3 Complete Your Application
  .description= raw t('oath.subheader')


.partition
  .row
    .span10
      %p
        %strong Registration Statement
      .checkbox
        = check_box :registration, :information_correct, 'data-bind' => 'instantValidation: { accessor: "infoCorrect" }'
        = f.label :information_correct, t('oath.information_correct')

<!-- ko if: showAssistantDetails -->
.partition
  .row
    .span10
      %p
        %strong= raw t('oath.assistance.title')
      %p= raw t('oath.assistance.info')
  .row.personal-info
    .span3
      = f.label :as_first_name, 'Assistant first name'
      = f.text_field :as_first_name, autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "asFirstName" }, valueUpdate: "afterkeyup"'
    .span3
      = f.label :as_middle_name do
        Full middle
        %span= t('optional')
      = f.text_field :as_middle_name, autocomplete: ac, 'data-bind' => 'value: asMiddleName'
    .span3
      = f.label :as_last_name, "Last name"
      = f.text_field :as_last_name, autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "asLastName" }, valueUpdate: "afterkeyup"'
    .span2
      = f.label :as_suffix do
        Suffix
        %span= t('optional')
      = f.select :as_suffix, Dictionaries::NAME_SUFFIXES, { include_blank: true }, { autocomplete: ac, class: 'span1', 'data-bind' => 'value: asSuffix' }

  .row
    .span3
      .address-field
        = f.label       :as_address, "Assistant address"
        = f.text_field  :as_address, autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "asAddress1" }, valueUpdate: "afterkeyup"'
      .address-field
        = f.label :as_address_2 do
          = t('addresses.address_2')
          %span= t('optional')
        = f.text_field  :as_address_2, autocomplete: ac, 'data-bind' => 'valueWithInit: asAddress2, valueUpdate: "afterkeyup"'
  .row
    .span3
      = f.label      :as_city, "City"
      = f.text_field :as_city, autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "asCity" }, valueUpdate: "afterkeyup"'
    .span2.state-field
      = f.label      :as_state, "State"
      = f.select     :as_state, Dictionaries::STATES, { include_blank: true }, { autocomplete: ac, class: 'span3', 'data-bind' => 'instantValidation: { accessor: "asState" }' }
    .span3.zip-field
      %table
        %tr
          %td= f.label      :as_zip5, t('addresses.zip5')
          %td &nbsp;
          %td
            = f.label :as_zip4 do
              = t('addresses.zip4')
              %span= t('optional')
        %tr
          %td= f.text_field :as_zip5, autocomplete: ac, class: 'first-zip', 'data-bind' => 'instantValidation: { accessor: "asZip5", validation: "zip5" }, valueUpdate: "afterkeyup"', placeholder: 'NNNNN', maxlength: 5
          %td.space &mdash;
          %td= f.text_field :as_zip4, autocomplete: ac, class: 'second-zip', 'data-bind' => 'valueWithInit: asZip4, valueUpdate: "afterkeyup"', placeholder: 'NNNN', maxlength: 4
<!-- /ko --> <!-- !paperlessSubmission -->
