- updating ||= false
- condition = 'page() == "options"'
- if option_config['combine_with_confirmation']
  - condition += " || page() == 'confirm'";

- if any_options?(updating)
  #options.section{ 'data-bind' => 'vis: ' + condition }
    .head
      %h3= raw t 'options.title'
      .description= raw t 'options.description'

    - unless AppConfig['collect_absentee_party_preference_only_absentee']
      .partition
        = render partial: 'registrations/party_preference', locals: { f: f }

    = hidden_field_tag 'registration[be_official]', '0', id: nil
    = render partial: 'domestic_options', locals: { f: f, updating: updating }
    = render partial: 'overseas_options', locals: { f: f, updating: updating }

    .form-actions{style: "#{option_config['combine_with_confirmation'] ? 'display: none;' : ''}"}
      = button_tag 'Next', class: 'next bt', 'data-bind' => 'click: nextFromOptions, css: { disabled: optionsInvalid }'
      = button_tag 'Back', class: 'back bt', 'data-bind' => 'click: prevPage'
