- updating ||= false

#options.section{ 'data-bind' => 'vis: page() == "options"' }
  .head
    %h3 Options
    .description Select only applicable options (not required).

  .partition
    .row
      .span10
        .checkbox
          = f.check_box :choose_party, { 'data-bind' => 'checkedWithInit: chooseParty' }
          %strong I want to choose a political party preference.

    <!-- ko if: chooseParty -->
    .row
      .span3
        %p My political party preference is

        = f.select :party, Dictionaries::PARTIES + [ [ "Other", "other" ] ], { include_blank: true }, { 'data-bind' => 'instantValidation: { accessor: "party" }' }

      <!-- ko if: party() == 'other' -->
      .span3
        %span Political party preference name
        = f.text_field :other_party, 'data-bind' => 'valueWithInit: otherParty'
      <!-- /ko -->

    <!-- /ko -->

  .partition
    .row
      .span12
        .checkbox
          = f.check_box :is_confidential_address, { 'data-bind' => 'checkedWithInit: isConfidentialAddress' }
          %strong I qualify for address confidentiality.

    <!-- ko if: isConfidentialAddress -->
    .row
      .span10
        %span I request that my home address not be released because I or member of my household is
        .radio
          = f.radio_button :ca_type, 'le', 'data-bind' => 'checkedWithInit: caType'
          %label active or retired law enforcement
        .radio
          = f.radio_button :ca_type, 'po', 'data-bind' => 'checkedWithInit: caType'
          %label have been granted a protective court order
        .radio
          = f.radio_button :ca_type, 'if', 'data-bind' => 'checkedWithInit: caType'
          %label are in fear of your personal safety from someone who has threatened or stalked you and have filed a complaint against that person with magistrate or law enforcement
        .radio
          = f.radio_button :ca_type, 'acp', 'data-bind' => 'checkedWithInit: caType'
          %label participate in the Address Confidentiality Program

        <!-- ko if: caType -->
        .additional
          .important You must provide a mailing address that is a Virginia P.O. Box
          <!-- ko if: caType() == 'in fear' -->
          .important You must attach copy of the complaint that you filed
          <!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->

  = render partial: 'domestic_absentee', locals: { f: f, updating: updating }
  = render partial: 'overseas_absentee', locals: { f: f, updating: updating }

  = hidden_field_tag 'registration[be_official]', '0'
  <!-- ko if: domestic -->
  .partition
    .row
      .span12
        .checkbox
          = f.check_box :be_official
          %strong
            I'm interested in being an Election Official on Election Day. Please send me information.
  <!-- /ko -->

  .form-actions
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: nextPage, css: { disabled: optionsInvalid }'
    = button_tag '&larr; Back'.html_safe, class: 'back btn', 'data-bind' => 'click: prevPage'
