- updating ||= false

#options.section{ 'data-bind' => 'vis: page() == "options"' }
  .head
    %h3 Optional Questions
    .description Select only applicable options (not required).

  .partition
    - unless AppConfig['registration']['absentee_party_preference']
      = render partial: 'registrations/party_preference', locals: { f: f }

  .partition
    .row
      .span12
        .checkbox
          = f.check_box :is_confidential_address, autocomplete: ac, 'data-bind' => 'checkedWithInit: isConfidentialAddress'
          = f.label :is_confidential_address do
            %strong= I18n.t('options.ac.requesting')

    <!-- ko if: isConfidentialAddress -->
    .row
      .span10
        %span= I18n.t('options.ac.statement')
        - %w( LEO CPO TSC ACP ).each do |r|
          .radio
            = f.radio_button :ca_type, r, 'data-bind' => 'checkedWithInit: caType'
            %label{ for: "registration_ca_type_#{r.downcase}" }= I18n.t("options.ac.reasons.#{r}")

        <!-- ko if: caType -->
        .additional
          .important= I18n.t("options.ac.type")
          .row
            .span5
              .address-field
                = f.label :ca_address, "Address"
                = f.text_field :ca_address, autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "caAddress1" }'
              .address-field
                = f.text_field :ca_address_2, autocomplete: ac, 'data-bind' => 'valueWithInit: caAddress2'
          .row
            .span3.town
              = f.label :ca_city, "City / Town"
              = f.text_field :ca_city, autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "caCity" }'
            .span1
              %span State
              VA
            .span2.zip-field
              = f.label :ca_zip5, "Zip code"
              = f.text_field :ca_zip5, maxlength: 5, autocomplete: ac, class: 'first-zip', 'data-bind' => 'instantValidation: { accessor: "caZip5", validation: "zip5" }', placeholder: 'NNNNN'
              .space &mdash;
              = f.text_field :ca_zip4, maxlength: 4, autocomplete: ac, class: 'second-zip', placeholder: 'NNNN', 'data-bind' => 'value: caZip4'

          <!-- ko if: caType() == 'TSC' -->
          .important You must attach copy of the complaint that you filed
          <!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->

  = hidden_field_tag 'registration[be_official]', '0', id: nil
  = render partial: 'domestic_options', locals: { f: f, updating: updating }
  = render partial: 'overseas_options', locals: { f: f, updating: updating }

  .form-actions
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: nextPage, css: { disabled: optionsInvalid }'
    = button_tag '&larr; Back'.html_safe, class: 'back btn', 'data-bind' => 'click: prevPage'
