- updating ||= false

#options.section{ 'data-bind' => 'vis: page() == "options"' }
  .head
    %h3 Optional Questions
    .description Select only applicable options (not required).

  .partition
    - unless AppConfig['registration']['absentee_party_preference']
      = render partial: 'registrations/party_preference', locals: { f: f }

  = hidden_field_tag 'registration[be_official]', '0', id: nil
  = render partial: 'domestic_options', locals: { f: f, updating: updating }
  = render partial: 'overseas_options', locals: { f: f, updating: updating }

  .partition
    .row
      .span10
        %p
          %strong Protected Voter
        .checkbox
          = f.check_box :is_confidential_address, autocomplete: ac, 'data-bind' => 'checkedWithInit: isConfidentialAddress'
          = f.label :is_confidential_address, I18n.t('options.ac.statement', address: I18n.t('residence_address').downcase)
    .row
      .span10
        - %w( LEO CPO TSC ACP ).each do |r|
          .radio
            = f.radio_button :ca_type, r, 'data-bind' => 'checkedWithInit: caType, enable: isConfidentialAddress'
            %label{ for: "registration_ca_type_#{r.downcase}" }= I18n.t("options.ac.reasons.#{r}")

        <!-- ko if: caType() && isConfidentialAddress() -->
        .additional
          <!-- ko if: domestic() && !maIsDifferent() -->
          -# here we set ma_is_different as a field to let backend know
          -# that we have explicit custom MA provided even though the user
          -# didn't want to provide it in the addresses section
          .important= I18n.t("options.ac.type", address: I18n.t('residence_address').downcase)
          = hidden_field_tag 'registration[ma_is_different]', 1
          = render partial: 'mailing_domestic', locals: { f: f }
          <!-- /ko -->

          <!-- ko if: caType() == 'TSC' -->
          .important You must attach copy of the complaint that you filed
          <!-- /ko -->
        <!-- /ko -->

  .form-actions
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: nextFromOptions, css: { disabled: optionsInvalid }'
    = button_tag '&larr; Back'.html_safe, class: 'back btn', 'data-bind' => 'click: prevPage'
