- until_date = f.object.absentee_until.strftime("%B %d, %Y") unless AppConfig['enable_uocava_end_date_choice']
<!-- ko if: overseas -->
.partition
  .row
    .span12
      .checkbox
        = f.check_box :requesting_absentee, autocomplete: ac, disabled: true, checked: true
        = f.hidden_field :requesting_absentee, autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "requestingAbsentee" }'
        = f.label :requesting_absentee do
          %strong= t 'options.overseas.requesting_absentee', until: until_date

  <!-- ko if: requestingAbsentee -->
  .row
    .span10.indented.overseas_rab_type
      .radio
        = f.radio_button :rab_type, 'federal', { 'data-bind' => 'checkedWithInit: rabType' }
        %label{ for: 'registration_rab_type_until' }= t 'rab_type.federal', until: until_date
      .radio
        = f.radio_button :rab_type, 'state', { 'data-bind' => 'checkedWithInit: rabType' }
        %label{ for: 'registration_rab_type_event' }= t 'rab_type.state'

  <!-- ko if: rabType() == 'state' -->
  = render partial: 'domestic_rab_election', locals: { f: f }
  = render partial: 'domestic_rab_reason', locals: { f: f }
  <!-- /ko -->

  <!-- ko if: rabType() == 'federal' -->
  = render partial: 'overseas_rab_until', locals: { f: f }
  <!-- /ko --> <!-- rabType -->
  <!-- /ko -->
<!-- /ko -->
