<!-- ko if: overseas -->
.partition
  .row
    .span12
      .checkbox
        = f.check_box :requesting_absentee, autocomplete: ac, disabled: true, checked: true
        = f.hidden_field :requesting_absentee, autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "requestingAbsentee" }'
        = f.label :requesting_absentee do
          - until_date = f.object.absentee_until.strftime("%B %d, %Y") unless AppConfig['choose_absentee_until']
          %strong= I18n.t('options.overseas.requesting_absentee', until: until_date)

  <!-- ko if: requestingAbsentee -->
  - if AppConfig['choose_absentee_until']
    .row
      .span3
        = f.hidden_field :absentee_until
        #absentee_until.sliderbar
      .span3
        .absentee_until_label{ 'data-bind' => 'text: absenteeUntilFormatted' }
  - else
    = f.hidden_field :absentee_until

  .row
    .span10.indented.overseas_outside_type
      .radio
        = f.radio_button :outside_type, 'ActiveDutyMerchantMarineOrArmedForces', { 'data-bind' => 'checkedWithInit: outsideType' }
        %label{ for: 'registration_outside_type_activedutymerchantmarineorarmedforces' }= t 'outside_type.ActiveDutyMerchantMarineOrArmedForces'
      .radio
        = f.radio_button :outside_type, 'SpouseOrDependentActiveDutyMerchantMarineOrArmedForces', { 'data-bind' => 'checkedWithInit: outsideType' }
        %label{ for: 'registration_outside_type_spouseordependentactivedutymerchantmarineorarmedforces' }= t 'outside_type.SpouseOrDependentActiveDutyMerchantMarineOrArmedForces'
      .radio
        = f.radio_button :outside_type, 'TemporaryResideOutside', { 'data-bind' => 'checkedWithInit: outsideType' }
        %label{ for: 'registration_outside_type_temporaryresideoutside' }= t 'outside_type.TemporaryResideOutside'
      .radio
        = f.radio_button :outside_type, 'TemporaryResideOutsideSpouse', { 'data-bind' => 'checkedWithInit: outsideType' }
        %label{ for: 'registration_outside_type_temporaryresideoutsidespouse' }= t 'outside_type.TemporaryResideOutsideSpouse'

  <!-- ko if: needsServiceDetails -->
  .row
    .span2
      %span Service Branch
      = select     :registration, :service_branch, options_for_select(Registration::SERVICE_BRANCHES), {}, autocomplete: ac, class: 'span2 inline', 'data-bind' => 'valueWithInit: serviceBranch'
    .span2
      %span Service ID
      = text_field :registration, :service_id, placeholder: 'Service ID', autocomplete: ac, class: 'span1 inline', 'data-bind' => 'valueWithInit: serviceId, valueUpdate: "afterkeyup"'
    .span2
      %span Rank / Grade / Rate
      = text_field :registration, :rank, placeholder: 'Rank / Grade / Rate', autocomplete: ac, class: 'span2 inline', 'data-bind' => 'valueWithInit: rank, valueUpdate: "afterkeyup"'
  <!-- /ko -->

  - if AppConfig['registration']['absentee_party_preference']
    = render partial: 'registrations/party_preference', locals: { f: f, indented: true }
  <!-- /ko -->
<!-- /ko -->
