- indented ||= false
- name = party_preference_label
.row
  .span10{ class: indented ? 'indented' : nil }
    .checkbox
      = f.check_box :choose_party, { 'data-bind' => 'checkedWithInit: chooseParty' }
      = f.label :choose_party do
        %strong= raw t 'options.party_preference.choose_party', entity: name.downcase

<!-- ko if: chooseParty -->
.row
  .span5
    %p My #{name.downcase} is

    = f.select :party, Dictionaries::PARTIES + [ [ t('options.party_preference.other'), "other" ] ], { include_blank: true }, { autocomplete: ac, 'data-bind' => 'instantValidation: { accessor: "party" }', class: 'span5' }

  <!-- ko if: party() == 'other' -->
  .span5
    %span= raw t 'options.party_preference.other_party', entity: name
    = f.text_field :other_party, autocomplete: ac, 'data-bind' => 'valueWithInit: otherParty, valueUpdate: "afterkeyup"', class: 'span5'
  <!-- /ko -->
<!-- /ko -->
