- reg = RegistrationDetailsPresenter.new(@registration)

- unless no_forms?
  = render partial: "search/steps", locals: { step: 'view' }

.padded_page_span.section#overview
  = render partial: 'head'

  .row
    .head.light
      = link_to "Download Voter Card", voter_card_path, class: 'download voter_card'
      %h3 Voter Information

    .summary
      .body
        %table.table.properties
          %tr
            %th Name:
            %td= reg.full_name
          - if reg.dob
            %tr
              %th Date of birth:
              %td= reg.dob
          %tr
            %th Gender:
            %td= reg.gender
          - unless reg.optional_phone.blank?
            %tr
              %th Phone:
              %td= reg.optional_phone
          - unless reg.optional_email.blank?
            %tr
              %th Email:
              %td= reg.optional_email
          %tr
            %th Registration address:
            %td= reg.registration_address
          %tr
            %th Mailing address:
            %td= reg.mailing_address(@registration.currently_overseas?)
          - if reg.address_confidentiality?
            %tr
              %th Address confidentiality:
              %td Active

    %p= link_to "Show districts", '#', class: 'show-districts'

    .summary.hide.districts
      .body
        %h3 Districts
        %table.table#districts
          - (reg.districts || []).each do |label, v|
            %tr
              %td= label
              %td= v

    .head.light
      %h3 Voting Status

    %ul.status_options{ class: no_forms? ? 'no_forms' : nil }
      - (no_forms? ? [ reg.status ] : reg.status_options).each do |opt|
        = render partial: "status_option_#{opt}", locals: { reg: reg }

    - if no_forms?
      .info
        %p Need to change your address, name, or contact information? Or learn about absentee voting options?
        %p= link_to "Learn more about updates and absentee", :about_update_absentee_page
    - else
      .form-actions
        = link_to "Next &rarr;".html_safe, :edit_registration, class: 'next btn', id: 'edit_registration'
