- reg = RegistrationDetailsPresenter.new(@registration)
= render partial: "search/steps", locals: { step: 'view' }

.padded_page_span.section#overview
  = render partial: 'head'

  .row
    .head.light
      = link_to "Download Voter Card", voter_card_path, class: 'download voter_card'
      %h3 Voter Information

    .summary
      .body
        %table.table.properties
          %tr
            %th Name:
            %td= reg.full_name
          - if reg.dob
            %tr
              %th Date of birth:
              %td= reg.dob
          %tr
            %th Gender:
            %td= reg.gender
          - unless reg.ssn.blank?
            %tr
              %th Social security number:
              %td= reg.ssn
          - unless reg.optional_phone.blank?
            %tr
              %th Phone:
              %td= reg.optional_phone
          - unless reg.optional_email.blank?
            %tr
              %th Email:
              %td= reg.optional_email
          %tr
            %th Registration address:
            %td= reg.registration_address
          %tr
            %th Mailing address:
            %td= reg.mailing_address(@registration.currently_overseas?)
          - if reg.address_confidentiality?
            %tr
              %th Address confidentiality:
              %td Active

    .head.light
      %h3 Voting Status

    %ul.status_options
      - reg.status_options.each do |opt|
        = render partial: "status_option_#{opt}", locals: { reg: reg }

    .form-actions
      = link_to "Next &rarr;".html_safe, :edit_registration, class: 'next btn', id: 'edit_registration'
