%li
  - unless no_forms?
    = radio_button_tag "status", "overseas", reg.status == "overseas"
  %label{ for: 'status_overseas' } Overseas/Military Absentee Voter
  %p
    - if @registration.currently_residential?
      I have moved overseas or been deployed, and I need to update my information for
      %strong Absentee voting.
    - else
      - if @registration.current_absentee_until
        Receiving an absentee ballot for elections through #{@registration.current_absentee_until.strftime("%b %d, %Y")}.
    = render partial: 'shared/mark_my_ballot_online', locals: { link_text: "Eligible for #{link_to 'online ballot marking', '#', class: 'submit'} in #{AppConfig['current_election']['name']} Election" }
