.head
  %h3 Registration address
  .description
    Please confirm your registration address. If it is not correct, please update now.

.row
  .span3
    %span
      Street number
    = f.text_field :vvr_street_number, 'data-bind' => 'instantValidation: { accessor: "vvrStreetNumber" }'
  .span3
    %span
      Street name
    = f.text_field :vvr_street_name, 'data-bind' => 'instantValidation: { accessor: "vvrStreetName" }'
  .span2.street-type-field
    %span
      Street type
    = f.select :vvr_street_type, Dictionaries::STREET_TYPES, { include_blank: true }, { class: 'span1', 'data-bind' => 'instantValidation: { accessor: "vvrStreetType" }' }
  .span2.lot-field
    %span
      Apt/Lot
      %label (optional)
    = f.text_field :vvr_apt, { 'data-bind' => 'value: vvrApt' }

.row
  .span3
    %span County or city
    = f.select :vvr_county_or_city, Office.localities, { include_blank: true }, { class: 'span3', 'data-bind' => 'instantValidation: { accessor: "vvrCountyOrCity" }' }
  .span3
    <!-- ko if: vvrCountySelected -->
    %span Town
    = f.text_field :vvr_town, { 'data-bind' => 'instantValidation: { accessor: "vvrTown" }' }
    <!-- /ko -->
    <!-- ko if: !vvrCountySelected() -->
    &nbsp;
    <!-- /ko -->
  .span2.state-field.short
    %span State
    VA
    = f.hidden_field :vvr_state, 'data-bind' => 'instantValidation: { accessor: "vvrState" }'
  .span2.zip-field
    %span Zip code
    = f.text_field :vvr_zip5, class: 'first-zip', 'data-bind' => 'instantValidation: { accessor: "vvrZip5" }', placeholder: 'NNNNN', maxlength: 5
    .space &mdash;
    = f.text_field :vvr_zip4, class: 'second-zip', 'data-bind' => 'value: vvrZip4', placeholder: 'NNNN', maxlength: 4
<!-- /ko -->

.row
  .span12
    .checkbox
      = f.check_box :vvr_is_rural, 'data-bind' => 'instantValidation: { accessor: "vvrIsRural" }'
      Rural address or homeless? Please check the box and describe where you reside.
    <!-- ko if: vvrIsRural -->
    = f.text_area :vvr_rural, cols: "10", rows: "10", 'data-bind' => 'value: vvrRural'
    <!-- /ko -->

<!-- ko if: overseas -->
.row
  .span12
    .radio
      = radio_button :registration, :vvr_uocava_residence_available, '1', { 'data-bind' => 'checked: vvrOverseasRA' }
      %label My Virginia residence is still available to me
    .radio
      = radio_button :registration, :vvr_uocava_residence_available, '0', { 'data-bind' => 'checked: vvrOverseasRA' }
      %label My Virginia residence is no longer available to me
<!-- ko if: vvrOverseasRA() == '0' -->
.row
  .span12
    %span My last date of residence at the above address was:
    = bound_date f, :vvr_uocava_residence_unavailable_since, { }, class: 'date'
<!-- /ko -->
<!-- /ko -->

