- requesting_absentee_status = @registration.absentee?
= render partial: "steps", locals: { updating: true }

.row#update_registration
  .padded_page_span
    = render partial: 'form_options'
    = hidden_field_tag :dob_day, @registration.dob.try(:day)
    = hidden_field_tag :dob_month, @registration.dob.try(:month)
    = hidden_field_tag :dob_year, @registration.dob.try(:year)
    = form_for @registration, url: :registration  do |f|
      = hidden_field_tag 'kind', params[:kind]
      = f.hidden_field :residence
      = render partial: 'eligibility_update_section', locals: { f: f }
      = render partial: 'identity_update_section',    locals: { f: f }
      = render partial: 'addresses_section',          locals: { f: f }
      = render partial: 'mailing_section',            locals: { f: f, updating: true }
      = render partial: 'options_section',            locals: { f: f, updating: true }
      = render partial: 'confirm_section',            locals: { f: f, updating: true }
      = render partial: 'oath_section',               locals: { f: f, updating: true }
      = render partial: 'submit_online_section',      locals: { f: f }
      = render partial: 'lookup_record_section'
      = render partial: 'ineligible_section'
