- requesting_absentee_status = @registration.absentee?
= render partial: "steps"

.row#update_registration
  .padded_page_span
    = hidden_field_tag :allow_ineligible_to_complete_form, AppConfig['allow_ineligible_to_complete_form']
    = hidden_field_tag :ssn_required, AppConfig['ssn_required']
    - c = AppConfig['display_assistant_details']
    = hidden_field_tag :display_assistant_details, '', 'data-paper' => c['paper'], 'data-paperless' => c['paperless']
    = form_for @registration, url: :registration  do |f|
      = hidden_field_tag 'kind', params[:kind]
      = f.hidden_field :residence
      = render partial: 'eligibility_update_section', locals: { f: f }
      = render partial: 'identity_update_section',    locals: { f: f }
      = render partial: 'addresses_section',          locals: { f: f }
      = render partial: 'mailing_section',            locals: { f: f, updating: true }
      = render partial: 'options_section',            locals: { f: f, updating: true }
      = render partial: 'confirm_section',            locals: { f: f, updating: true }
      = render partial: 'oath_section',               locals: { f: f, updating: true }
      = render partial: 'submit_online_section',      locals: { f: f }
      = render partial: 'lookup_record_section'
      = render partial: 'registered_info_section'
