- requesting_absentee_status = @registration.absentee?
= render partial: "search/steps", locals: { step: 'update' }

.row#update_registration
  .padded_page_span
    = form_for @registration, url: :registration  do |f|
      = hidden_field_tag 'kind', params[:kind]
      = f.hidden_field :residence
      = render partial: 'addresses_section',      locals: { f: f }
      = render partial: 'mailing_section',        locals: { f: f }
      = render partial: 'options_section',        locals: { f: f, updating: true }
      = render partial: 'confirm_update_section', locals: { f: f, requesting_absentee_status: requesting_absentee_status }
      = render partial: 'oath_section',           locals: { f: f }
