- @page_id = 'registration'

= render partial: 'steps'

.row.disclaimer
  .span12
    %p
      All information in this online experience is required by state or federal
      law, unless specifically marked optional.

.row
  .padded_page_span
    = form_for @registration, url: :registration, html: { 'data-bind' => 'submit: submit' } do |f|
      = hidden_field_tag :overseas, params[:kind] == 'overseas' ? 1 : 0
      = render partial: 'eligibility', locals: { f: f }
      = render partial: 'identity', locals: { f: f }
      = render partial: 'addresses', locals: { f: f }
      = render partial: 'mailing', locals: { f: f }
      = render partial: 'options', locals: { f: f }
      = render partial: 'confirm', locals: { f: f }
      = render partial: 'oath', locals: { f: f }

