- @page_id = 'registration'
= render partial: 'steps'

.row.disclaimer
  .span12
    %p
      All information in this online experience is required by state or federal
      law, unless specifically marked optional.

.row
  .padded_page_span
    = hidden_field_tag :allow_ineligible_to_complete_form, AppConfig['allow_ineligible_to_complete_form']
    = hidden_field_tag :ssn_required, AppConfig['ssn_required']
    - c = AppConfig['display_assistant_details']
    = hidden_field_tag :display_assistant_details, '', 'data-paper' => c['paper'], 'data-paperless' => c['paperless']
    = form_for @registration, url: :registration, html: { 'data-bind' => 'submit: submit' } do |f|
      = hidden_field_tag :residence, params[:residence]
      = render partial: 'eligibility_section',    locals: { f: f }
      = render partial: 'identity_section',       locals: { f: f }
      = render partial: 'addresses_section',      locals: { f: f }
      = render partial: 'mailing_section',        locals: { f: f }
      = render partial: 'options_section',        locals: { f: f }
      = render partial: 'confirm_section',        locals: { f: f }
      = render partial: 'oath_section',           locals: { f: f }
      = render partial: 'submit_online_section',  locals: { f: f }
      = render partial: 'lookup_record_section'
      = render partial: 'registered_info_section'
      = render partial: 'ineligible_section'

