= render partial: 'shared/page_header', locals: { title: 'Check Your Voter Record' }

.row
  .span-one-third
    %h3 Check Your Voter Record
    %p
      Your Virginia voter registration record is current,
      and you are eligible to vote absentee in upcoming
      election on Nov 6, 2012.

    %p
      You can also update your voter record if you act
      before Sep 6, 2012.

    %p
      You are also eligible to get your ballot online,
      marking it online or by hand, downloading it, and
      returning to your election registrar.

  .span-two-thirds

    %h3= @registration.full_name

    %table.condensed-table.properties.zebra-striped
      %tr
        %th Date of Birth:
        %td 01/01/1901
      %tr
        %th Social Security Number:
        %td xxxx-xxx-1234
      %tr
        %th Voter Registration Address:
        %td 123 Oak St., Humumunuku’ua’ pu’aville, VA, 12345
      %tr
        %th Mailing Address:
        %td 123 Oak St., Humumunuku’ua’ pu’aville, VA, 12345
      %tr
        %th Email:
        %td wanda42@gmail.com
      %tr
        %th Daytime Phone Number:
        %td (123) 456-7890
      %tr
        %th Political Party Preference:
        %td not stated

      -# If not absentee show Absentee Status: "Active" and no date
      %tr
        %th Absentee Status:
        %td Resident Absentee Voter
      %tr
        %th Absentee Status Expires:
        %td 01/01/2013

    %p= link_to "Update Your Voter Record", "#", class: 'btn'
    %p= link_to "Update Your Absentee Status", "#", class: 'btn'
    %p= link_to "Mark Your Ballot Online", "#", class: 'btn'
