- reg = RegistrationDetailsPresenter.new(@registration)
- show_missing = AppConfig['voter_info_show_missing_items']

.padded_page_span.section#overview
  = render partial: 'head'

  .row
    .head.light
      - unless no_forms?
        = link_to "Download Voter Card", voter_card_path, class: 'download voter_card'
      %h3 Voter Information

      %p= I18n.t('view.info')
      %p
        You can also #{link_with_privacy_act_to 'update your voter information', :edit_registration} or
        #{link_with_privacy_act_to 'apply for an absentee ballot', :request_absentee_registration}.

    .summary
      .body
        %table.table.properties.table-condensed
          %tr
            %th Name:
            %td= reg.full_name
          - if show_missing || reg.dob
            %tr
              %th Date of birth:
              %td= reg.dob
          - if show_missing || reg.voter_id.present?
            %tr
              %th Voter ID:
              %td= reg.voter_id
          - if show_missing
            %tr
              %th Status:
              %td
          - if show_missing
            %tr
              %th Date of Status:
              %td
          %tr
            %th ID Requirement:
            %td
              State
              .pull-right= link_to "Click here for more information", "http://sbe.virginia.gov/", target: '_blank'
          %tr
            %th Residential address:
            %td= reg.registration_address
          - if @registration.ma_is_different == '1' || @registration.currently_overseas?
            %tr
              %th Mailing address:
              %td= reg.mailing_address(@registration.currently_overseas?)
          - if show_missing || @registration.poll_locality.present?
            %tr
              %th Locality:
              %td= @registration.poll_locality
          - if show_missing || @registration.poll_precinct.present?
            %tr
              %th Precinct:
              %td= @registration.poll_precinct
          - if show_missing
            %tr
              %th Town:
              %td N/A
          - if show_missing
            %tr
              %th Town precinct:
              %td N/A

          - unless reg.optional_phone.blank?
            %tr
              %th Phone:
              %td= reg.optional_phone
          - unless reg.optional_email.blank?
            %tr
              %th Email:
              %td= reg.optional_email
          - if reg.address_confidentiality?
            %tr
              %th Address confidentiality:
              %td Active

    - if reg.voting_location_given?
      .accordion.summary.voting-location
        .body
          %h3
            = link_to "Show", '#', class: 'toggle'
            Voting Location
          .area
            %table.table
              %tr
                %th &nbsp;
                %td= reg.voting_location

    .accordion.summary.districts
      - districts = reg.districts || []
      .body
        %h3
          - if districts.present?
            = link_to "Show", '#', class: 'toggle'
          Districts
        .area
          %table.table
            - districts.each do |label, (c, v)|
              %tr
                %th &nbsp;
                %td.l #{label}:
                %td <em>#{v}</em>

    .accordion.summary
      .body
        %h3 Polling Place

    .accordion.summary
      .body
        %h3 My Ballot

    .accordion.summary
      .body
        %h3 Absentee

    .accordion.summary
      .body
        %h3
          Provisional Ballot

    .accordion.summary
      .body
        %h3
          - if reg.has_election_participation_history?
            = link_to "Show", '#', class: 'toggle'
          Voter History
        .area
          %table.table
            - (reg.past_elections || []).each do |e, s|
              %tr
                %th &nbsp;
                %td.l= s
                %td <em>#{e}</em>

    .accordion.summary
      .body
        %h3 Locality Voter Registration Office Contact Information

    .accordion.summary
      .body
        %h3 Locality Electoral Board Contact Information

    - if no_forms?
      .info
        %p
          Need to change your address, name, or contact information?
          = link_to "Learn more about updating your voter record", :about_update_absentee_page, target: '_blank'
        %p
          Need to understand your options for voting absentee?
          = link_to "Learn more about absentee ballots", :about_update_absentee_page, target: '_blank'

      .form_action
        = render partial: 'shared/mark_my_ballot_online', locals: { link_text: "Mark Your Absentee Ballot Online: #{link_to 'learn more', :online_ballot_marking_page, target: '_blank'} or #{link_to 'get started now', '#', class: 'submit'}" }
    - else
      .form-actions
        = link_with_privacy_act_to "Update Your Voter Information", :edit_registration, class: 'btn', id: 'edit_registration'
        = link_with_privacy_act_to "Apply for an Absentee Ballot", :request_absentee_registration, class: 'btn pull-right'
