= render partial: 'shared/page_header', locals: { title: 'Check Your Voter Record' }

.row
  .span-one-third
    %h3 Check Your Voter Record
    %p
      Your Virginia voter registration record is current,
      and you are eligible to vote absentee in upcoming
      election on Nov 6, 2012.

    %p
      You can also update your voter record if you act
      before Sep 6, 2012.

    %p
      You are also eligible to get your ballot online,
      marking it online or by hand, downloading it, and
      returning to your election registrar.

  .span-two-thirds
    - reg = RegistrationDetailsPresenter.new(@registration)
    %h3= reg.full_name

    %table.condensed-table.properties.zebra-striped
      %tr
        %th Date of Birth:
        %td= reg.dob
      -# %tr
      -#   %th Social Security Number:
      -#   %td xxxx-xxx-1234
      %tr
        %th Voter Registration Address:
        %td= reg.voting_address
      %tr
        %th Mailing Address:
        %td= reg.mailing_address
      %tr
        %th Email:
        %td= reg.email
      %tr
        %th Daytime Phone Number:
        %td= reg.phone
      %tr
        %th Political Party Preference:
        %td= reg.party_affiliation
      %tr
        %th Absentee Status:
        %td= reg.absentee_status
      - if reg.absentee?
        %tr
          %th Absentee Status Expires:
          %td= reg.absentee_status_expires_on

    %p= link_to "Update Your Voter Record", "#", class: 'btn'
    %p= link_to "Update Your Absentee Status", "#", class: 'btn'
    %p= link_to "Mark Your Ballot Online", "#", class: 'btn'
