- link_text ||= nil
- if online_balloting? && @registration.ob_eligible?
  %form{ action: AppConfig['dl']['url'], 'accept-charset' => "utf-8", target: '_blank', class: 'mark-online' }
    = hidden_field_tag "search[vid]", @registration.voter_id
    = hidden_field_tag "token", AppConfig['dl']['access_token']
    = hidden_field_tag "account", AppConfig['dl']['account_id']
    - if link_text
      = link_text.html_safe
    - else
      = link_to "Mark My Ballot Online", '#', class: 'submit'
