.row.contest
  .span10
    %p
      %strong= contest[:office]

    - contest[:candidates].each do |candidate|
      .row
        .check
        .span8
          #{candidate[:name]}<br/>
          #{candidate[:party]}
          - if (url = candidate[:candidate_url]).present?
            <br/>#{link_to url, url}
          - if candidate[:email].present?
            <br/>#{mail_to candidate[:email]}

