!!!
%html
  %head
    %title= raw t('title')
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags

  %body#pages_demo_splash
    .container
      .row
        .span12
          %section.head
            = link_to 'https://fund-democracy.org/ ' do
              = image_tag '1x1.png', class: 'img_poweredby'

          %section.main
            %h1= raw t 'demo_splash.title'
            .lead= raw t 'demo_splash.summary'
            %p= raw t 'demo_splash.details'
            .enter= link_to t('demo_splash.button_label'), :front_page, class: 'btn btn-large btn-success'
            %small.muted= raw t 'demo_splash.footer'

    = javascript_include_tag "application"
