- @page_id = 'front'

.row
  .span12
    %h2 Welcome to the Virginia Voter Registration Service
    %p
      We've created this service to help all Virginia voters—domestic, military, and<br/>
      overseas—register to vote and keep their voter information up-to-date.

.row.steps
  .span2= image_tag 'step1.png'
  .span2= image_tag 'step2.png'
  .span2= image_tag 'step3.png'
  .span2= image_tag 'step4.png'
  .span4
    %p
      Fill in information online and build a PDF form. Then download, review, and sign the
      PDF form, and mail it back to your local election official.

.row.action-block
  .span8
    %h3 Register to Vote
    .row
      .span4
        %h4 Residential voter
        %p
          I am a Virginia resident and will be voting in person or as a residential
          absentee on election day.

        = link_to "Residential voter", :register_residential, class: 'btn'

      .span4
        %h4 Overseas or military voter
        %p
          I am an active member of the Uniformed Services, the Merchant Marine, or are a
          family member, that is residing outside the United States and will be voting
          absentee on election day.

        = link_to "Overseas or military voter", :register_military_or_overseas, class: 'btn'

  .span4
    %h3 View &amp; Update Voter Record
    %h4 Update or view Voter Record
    %p
      I am already registered to vote and want to view or update my Voter Record, or
      request an absentee ballot.

    = link_to "Update voter record", :search_form, class: 'btn'

