- @page_id = 'front'

#hero
  .row.w
    .span12
      %h2 Welcome.
      %small
        #{I18n.t('front.welcome.line1')}<br/>
        #{I18n.t('front.welcome.line2')}<br/>
        #{I18n.t('front.welcome.line3')}

  - if !AppConfig['dmv_id_submission']
    .row.steps
      .span4.info
        .line1 5
        .line2 simple steps
        .line3 to register to vote
      .span8
        %table
          %tr.step-numbers
            %th 1
            %th 2
            %th 3
            %th 4
            %th 5
          %tr.step-names
            %td Enter information<hr>
            %td Download<hr>
            %td Print<hr>
            %td Sign &amp; Date<hr>
            %td Mail<hr>
          %tr.step-icons
            %td= image_tag 'icon_enterinformation.png', size: "60x60"
            %td= image_tag 'icon_download.png', size: "60x60"
            %td= image_tag 'icon_print.png', size: "60x60"
            %td= image_tag 'icon_sign.png', size: "60x60"
            %td.mail= image_tag 'icon_mail.png', size: "60x60"

.row.options
  .span8
    %h3 Register to Vote
  .span4
    %h3 Update Record

.row.options-details
  .span4
    %h4 Residential voter
    %p= I18n.t('front.options.residential')

  .span4
    %h4 Overseas or military voter
    %p= I18n.t('front.options.overseas')

  .span4
    %h4 Update or view Voter Record
    %p I am already registered to vote and want to view or update my Voter Record.
    %h4 Request Absentee Ballot
    %p I need to request a domestic or overseas Absentee Ballot.

.row.options-links
  .span4= link_to "", :register_residential_privacy, alt: "Register Resedential", class: "residential button"
  .span4= link_to "", :register_overseas_privacy, alt: "Register Overseas", class: "overseas button"
  .span4= link_to "", :search_privacy, alt: "Update or View Voter Record", class: "update button", id: 'search'
