- @page_id = 'front'

#hero
  .row.w
    .span12
      %h2 Welcome.
      %small
        #{raw I18n.t('front.welcome.line1')}<br/>
        #{raw I18n.t('front.welcome.line2')}<br/>
        #{raw I18n.t('front.welcome.line3')}

  - if !AppConfig['dmv_id_submission']
    .row.steps
      .span4.info
        .line1 5
        .line2 simple steps
        .line3 to register to vote
      .span8
        %table
          %tr.step-numbers
            %th 1
            %th 2
            %th 3
            %th 4
            %th 5
          %tr.step-names
            %td Enter information<hr>
            %td Download<hr>
            %td Print<hr>
            %td Sign &amp; Date<hr>
            %td Mail<hr>
          %tr.step-icons
            %td= image_tag 'icon_enterinformation.png', size: "60x60"
            %td= image_tag 'icon_download.png', size: "60x60"
            %td= image_tag 'icon_print.png', size: "60x60"
            %td= image_tag 'icon_sign.png', size: "60x60"
            %td.mail= image_tag 'icon_mail.png', size: "60x60"

- uocava_reg     = AppConfig['home_page_uocava_registration']
- domestic_title = I18n.t('front.options.residential.title').html_safe
- update_title   = I18n.t('front.options.update.title').html_safe
- overseas_title = I18n.t('front.options.overseas.title').html_safe
.row.options
  - if uocava_reg
    .span8
      %h3= domestic_title
    .span4
      %h3= update_title
  - else
    .span4
      %h3= domestic_title
    .span4
      %h3= update_title
    .span4
      %h3= overseas_title

.row.options-details
  .span4
    %h4= I18n.t('front.options.residential.subtitle')
    %p= I18n.t('front.options.residential.text')

  - if uocava_reg
    .span4
      %h4= I18n.t('front.options.overseas.subtitle')
      %p= I18n.t('front.options.overseas.text')
    .span4
      %h4= I18n.t('front.options.update.subtitle')
      %p= I18n.t('front.options.update.text')
      %h4= I18n.t('front.options.request_absentee.subtitle')
      %p= I18n.t('front.options.request_absentee.text')
  - else
    .span4
      %h4= I18n.t('front.options.update.subtitle')
      %p= I18n.t('front.options.update.text')
      %h4= I18n.t('front.options.request_absentee.subtitle')
      %p= I18n.t('front.options.request_absentee.text')
    .span4
      %h4= I18n.t('front.options.overseas.subtitle')
      %p= I18n.t('front.options.overseas.text')

.row.options-links
  .span4= link_with_privacy_act_to "", :register_residential, alt: "Register Resedential", class: "residential button"
  - if uocava_reg
    .span4= link_with_privacy_act_to "", :register_overseas, alt: "Register Overseas", class: "overseas button"
    .span4= link_to "", :search, alt: "Update or View Voter Record", class: "update button", id: 'search'
  - else
    .span4= link_to "", :search, alt: "Update or View Voter Record", class: "update button", id: 'search'
    .span4= link_with_privacy_act_to "", :register_overseas, alt: "Register Overseas", class: "overseas button"
