.row
  .span16
    %h2 Search by Voter Registration
    = twitter_bootstrap_form_for @search_query, url: search_path do |ui|
      = ui.inputs do
        = ui.text_field  :voter_id, 'Voter ID', class: 'span5', placeholder: 'NNNN-NNNN-NNNN-NNNN'

      = ui.inputs 'or' do
        = ui.select      :locality, 'Locality', [ 'York County' ], {}, class: 'span5'
        = ui.text_field  :first_name, class: 'span5'
        = ui.text_field  :last_name, class: 'span5'
        = ui.date_select :dob, 'Date of birth', {}, class: 'small'
        = ui.text_field  :ssn4, 'Last 4 digits of SSN', class: 'span1', maxlength: 4

      = ui.actions do
        = ui.submit 'Find My Voter Records', disabled: true

