- @page_id = 'front'

#hero
  .row.w
    .span12
      %h2 Welcome.
      %small
        #{I18n.t('front.welcome.line1')}<br/>
        #{I18n.t('front.welcome.line2')}<br/>
        #{I18n.t('front.welcome.line3')}

  - if !AppConfig['dmv_id_submission']
    .row.steps
      .span4.info
        .line1 5
        .line2 simple steps
        .line3 to register to vote
      .span8
        %table
          %tr.step-numbers
            %th 1
            %th 2
            %th 3
            %th 4
            %th 5
          %tr.step-names
            %td Enter information<hr>
            %td Download<hr>
            %td Print<hr>
            %td Sign &amp; Date<hr>
            %td Mail<hr>
          %tr.step-icons
            %td= image_tag 'icon_enterinformation.png', size: "60x60"
            %td= image_tag 'icon_download.png', size: "60x60"
            %td= image_tag 'icon_print.png', size: "60x60"
            %td= image_tag 'icon_sign.png', size: "60x60"
            %td.mail= image_tag 'icon_mail.png', size: "60x60"

.row.options
  .span8
    %h3 Register to Vote
  .span4
    %h3 Update Record

.row.options-details
  .span4
    %h4= I18n.t('front.options.residential.title')
    %p= I18n.t('front.options.residential.text')

  .span4
    %h4= I18n.t('front.options.overseas.title')
    %p= I18n.t('front.options.overseas.text')

  .span4
    %h4= I18n.t('front.options.update.title')
    %p= I18n.t('front.options.update.text')
    %h4= I18n.t('front.options.request_absentee.title')
    %p= I18n.t('front.options.request_absentee.text')

.row.options-links
  .span4= link_with_privacy_act_to "", :register_residential, alt: "Register Resedential", class: "residential button"
  .span4= link_with_privacy_act_to "", :register_overseas, alt: "Register Overseas", class: "overseas button"
  .span4= link_to "", :search, alt: "Update or View Voter Record", class: "update button", id: 'search'
