- @page_id = 'front'

#hero
  .row.w
    .span12
      %h2= t 'front.welcome.title'
      %small= raw t 'front.welcome.text'

  - if AppConfig['enable_dmv_id_submission']
    .row.steps
      .span4.info
        = raw t 'front.steps.text'
      .span8
        %table
          %tr.step-numbers
            %th 1
            %th 2
            %th 3
            %th 4
            %th 5
          %tr.step-names
            %td #{raw t 'front.steps.step1' }<hr>
            %td #{raw t 'front.steps.step2' }<hr>
            %td #{raw t 'front.steps.step3' }<hr>
            %td #{raw t 'front.steps.step4' }<hr>
            %td #{raw t 'front.steps.step5' }<hr>
          %tr.step-icons
            %td= image_tag '1x1.png', class: 'icon icon_enterinformation'
            %td= image_tag '1x1.png', class: 'icon icon_download'
            %td= image_tag '1x1.png', class: 'icon icon_print'
            %td= image_tag '1x1.png', class: 'icon icon_sign'
            %td.mail= image_tag '1x1.png', class: 'icon icon_mail'

- stacked_layout = AppConfig['enable_home_page_stacked_layout']
- if stacked_layout
  = render 'front/stacked_layout'
- else
  = render 'front/column_layout'


- deadline = raw t('front.deadline')
- if deadline.present?
  .row.deadline
    .span12= deadline
