.row#privacy
  .padded_page_span.section
    .head
      %h3= I18n.t('privacy.title')

    .external-page
      = ExternalPages.get_by_name :privacy_act_notice

    = label_tag :privacyAgree, class: 'checkbox' do
      = check_box_tag :privacyAgree, '1'
      = I18n.t('privacy.checkbox')

    .form-actions
      = link_to 'Next', @redirect_path, class: 'next bt disabled'
