- @page_title = "Absentee status change request"

.row
  .span16#request_absentee_status
    = twitter_bootstrap_form_for @req, url: request_absentee_status_path do |f|

      = f.inputs 'Personal information', id: 'personal_info' do
        = f.text_field :full_name, 'Full name of absentee', readonly: true
        = f.text_field :ssn, 'SSN', readonly: true, class: 'span2'

        = f.toggles 'Registered to vote in *' do
          = f.radio_button :location_type, 'County', :county
          = f.radio_button :location_type, 'City', :city
        = f.text_field :location_name, 'of', placeholder: 'Olympia'

        .actions
          = f.button 'Next &rarr;'.html_safe, class: 'next btn'

      = f.inputs 'Election details', id: 'election' do
        = f.toggles 'Applying to vote in *' do
          = f.radio_button :vote_in, 'General Election or Special Election', :general_or_special
          = f.radio_button :vote_in, 'Democratic Primary', :democratic_primary
          = f.radio_button :vote_in, 'Republican Primary', :republican_primary

        = f.date_select :vote_on, 'to be held on', {}, class: 'small'

        .actions
          = f.button '&larr; Back'.html_safe, class: 'back btn'
          or
          = f.submit 'Submit request', class: 'next primary btn'
