- r = VoterCard.new(@registration)
%table.main
  %tr
    %td.section
      .logo
      %h1= t 'voting_cards.title'
      %h2= t 'voting_cards.subtitle'
      %table.details
        %tr
          %td.label= raw t 'voting_cards.id'
          %td.idd #{r.id}
          %td.date.label= raw t 'voting_cards.date_issued'
          %td.date #{r.date_issued}

      %p.registration
        #{r.name}<br/>
        #{r.address_line_1}<br/>
        #{r.address_line_2}

      %p= raw t 'voting_cards.language_preference', lang: r.language

      %p.id= r.id.to_s.split(//).map { |l| "<span>#{l}</span>" }.join.html_safe

      - if r.voting_location_given?
        .voting_location
          %h3= t 'voting_cards.voting_location'
          %p= r.voting_location

    %td.fold
      F o l d &nbsp; h e r e

    %td.section.middle
      %table.districts
        %tr
          %td= t 'voting_cards.locality'
          %td= r.locality
        %tr
          %td= t 'voting_cards.precinct'
          %td= r.precinct
        %tr
          %td= t 'voting_cards.districts'
          %td= r.districts
        %tr
          %td= t 'voting_cards.local'
          %td= r.local

      .voter_office
        %h3= t 'voting_cards.voter_office'
        %p #{r.voter_registration_office.gsub("\n", "<br/>").html_safe}

    %td.fold
      F o l d &nbsp; h e r e

    %td.section.right
      .town_elections
        %h3= t 'voting_cards.town_elections.title'
        %p= raw t 'voting_cards.town_elections.town'
        %p= raw t 'voting_cards.town_elections.precinct'
        %p= raw t 'voting_cards.town_elections.location'

.note
  *** Please show this card or other proper ID when you go to vote
