- r = VoterCard.new(@registration)
%table.main
  %tr
    %td.section
      .logo
      %h1 Commonweath of Virginia
      %h2 Voter Card
      %table.details
        %tr
          %td.label ID<br/>NO.
          %td.idd #{r.id}
          %td.date.label DATE<br/>ISSUED
          %td.date #{r.date_issued}

      %p.registration
        #{r.name}<br/>
        #{r.address_line_1}<br/>
        #{r.address_line_2}

      %p LANGUAGE PREFERENCE: #{r.language}

      %p.id= r.id.to_s.split(//).map { |l| "<span>#{l}</span>" }.join.html_safe

      .voting_location
        %h3 VOTING LOCATION:
        %p

    %td.fold
      F o l d &nbsp; h e r e

    %td.section.middle
      %p LOCALITY: #{r.locality}
      %p PRECINCT: #{r.precinct}

      %p DISTRICTS: #{r.districts}
      %p LOCAL: #{r.local}

      .voter_office
        %h3 Voter Registration Office
        %p #{r.voter_registration_office.gsub("\n", "<br/>").html_safe}

    %td.fold
      F o l d &nbsp; h e r e

    %td.section.right
      .town_elections
        %h3 FOR TOWN ELECTIONS:
        %p TOWN:<br/><br/><br/>
        %P TOWN PRECINCT / DISTRICT:<br/><br/><br/>
        %p TOWN ELECTION VOTING LOCATION:<br/><br/><br/>

.note
  *** Please show this card or other proper ID when you go to vote
