.section
  .border
    %h1 Absentee

    .row
      .check I will not be able to vote in person, and would like to vote absentee
    .row
      = field_line 6, "until #{rr.absentee_status_until}", 'absentee status duration'

    .row
      .check= rr.absentee_type
    - if rr.outside_type_with_details?
      .row
        = field_line 2, rr.military_branch, 'service branch'
        = field_line 2, rr.military_service_id, 'service id'
        = field_line 2, rr.military_rank, 'rank, grade, or rate'

    .row
      .check
        - if rr.residence_still_available?
          My Virginia residence is still available to me
        - else
          My Virginia residence is is no longer available to me

    - unless rr.residence_still_available?
      .row
        = field_line 6, rr.residence_unavailable_since, 'last residence at my registration address'

    - if AppConfig['collect_absentee_party_preference_only_absentee'] && rr.party_preference
      .row
        = field_line 6, rr.party_preference, 'party preference for absentee ballots'
