- af = rr.absence_fields
- aa = rr.absence_address
- tr = rr.absence_time_range

.section
  .border
    %h1 Absentee

    .row
      .check I will not be able to vote in person, and would like to vote absentee
    .row
      .check= rr.absence_reason

    .row
      .line
        = rr.absentee_election
        %label election

    - unless af.blank?
      .row
        - af.each do |f|
          = field_line 3, f[:value], f[:label]

    .row
      - unless aa.blank?
        = field_line 3, aa, 'address'
      - unless tr.blank?
        = field_line 3, tr, 'time range'

