.section
  .border
    %h1 Addresses

    .row
      = field_line 3, rr.registration_address, 'registration address'
      = field_line 3, rr.mailing_address, 'mailing address'

    - if rr.existing_registration? || rr.address_confidentiality?
      .row
        - if rr.existing_registration?
          = field_line 3, rr.existing_registration_address, 'previous registration address'
        - else
          = empty_span 3

        - if rr.address_confidentiality?
          = field_line 3, rr.acp_reason, 'address confidentiality'

      .row
        - if rr.existing_registration?
          .span3
            .check Cancel my existing registration
        - else
          = empty_span 3

        - if rr.address_confidentiality?
          .span3
            .check I request that my home address not be released
