- rac = rr.registration_address_changed?
- mac = rr.mailing_address_changed?
- er = rr.existing_registration_changed? && rr.existing_registration?
- ac = rr.address_confidentiality?

.section
  .border
    %h1 Addresses

    - if !rac && !mac
      .row
        = field_line 3, rr.registration_address, 'registration address'
        = field_line 3, rr.mailing_address, 'mailing address'

    - else
      - if rac
        .row
          = field_line 3, rr.registration_address, 'new registration address'
          = field_line 3, rr.previous_registration_address, 'previous registration address'

      - if mac
        .row
          - if rac
            .span3 &nbsp;
          - else
            = field_line 3, rr.registration_address, 'registration address'
          = field_line 3, rr.update_mailing_address, 'new mailing address'

    - if er
      .row
        = field_line 3, rr.existing_registration_address, 'previous registration address'
      .row
        .span3
          .check Cancel my existing registrating

    - if ac
      .row
        = field_line 3, rr.acp_reason, 'address confidentiality'
        = field_line 3, rr.acp_pobox, 'P.O. box mailing address for voter lists'

      .row
        .span3
          .check I request that my home address not be released
