.section
  .border
    %h1 Identity

    - name_width = rr.email_changed? ? 4 : 6
    .row
      = field_line name_width, rr.name, rr.name_changed? ? "new name" : "name"

      - if rr.email_changed?
        = field_line 2, rr.email, 'new email'

    - if rr.name_changed?
      .row
        = field_line 6, rr.previous_name, 'previous name'

    .row
      = field_line 1, rr.voter_id, 'voter id'
      = field_line 1, rr.dob, 'date of birth'
      = field_line 1, rr.phone, 'new phone', if: rr.phone_changed?
      - if AppConfig['registration']['absentee_party_preference']
        = field_line 3, :empty
      - else
        = field_line 1, :empty
        = field_line 2, rr.party_preference, 'new party preference', if: rr.party_changed?

    - if rr.being_official?
      .row
        .check I'm interested in being an Election Official on Election Day. Please send me information.
