.section
  .border
    %h1 Identity

    .row
      = field_line 4, rr.name, 'name'
      = field_line 2, rr.email, 'email'

    .row
      = field_line 1, rr.ssn, 'social security number'
      = field_line 1, rr.dob, 'date of birth'
      = field_line 1, rr.phone, 'phone'
      = field_line 1, rr.gender, 'gender'
      - if !AppConfig['registration']['absentee_party_preference'] && rr.party_preference
        = field_line 2, rr.party_preference, 'party preference'
      - else
        = field_line 2, :empty

    - if rr.being_official?
      .row
        .check I'm interested in being an Election Official on Election Day. Please send me information.
