- rr = RegistrationForPdf.new(@registration)

= render partial: 'registrations/pdf/cover_registration', locals: { rr: rr }
= render partial: 'registrations/pdf/data_page_header', locals: { rr: rr }
= render partial: 'registrations/pdf/eligibility', locals: { rr: rr }
= render partial: 'registrations/pdf/identity', locals: { rr: rr }
= render partial: 'registrations/pdf/addresses', locals: { rr: rr }
= render partial: 'registrations/pdf/oath', locals: { rr: rr }

- if rr.overseas? || rr.requesting_absentee?
  - partial = rr.overseas? ? "overseas" : "domestic"
  = render partial: 'registrations/pdf/cover_absentee_request', locals: { rr: rr, pb: true }
  = render partial: 'registrations/pdf/absentee_request_page_header', locals: { rr: rr, update: true }
  = render partial: 'registrations/pdf/identity', locals: { rr: rr }
  = render partial: 'registrations/pdf/addresses', locals: { rr: rr, instructions: true }
  = render partial: "registrations/pdf/absentee_request_#{partial}", locals: { rr: rr }
  = render partial: 'registrations/pdf/oath', locals: { rr: rr }

