- rr = RegistrationForPdf.new(@registration)

= render partial: 'registrations/pdf/title', locals: { rr: rr }
= render partial: 'registrations/pdf/header', locals: { rr: rr }
= render partial: 'registrations/pdf/eligibility', locals: { rr: rr }

- if @update
  = render partial: 'registrations/pdf/identity_update', locals: { rr: rr }
  -# use update_mailing_address
  = render partial: 'registrations/pdf/addresses_update', locals: { rr: rr }
- else
  = render partial: 'registrations/pdf/identity', locals: { rr: rr }
  = render partial: 'registrations/pdf/addresses', locals: { rr: rr }

- if rr.overseas? || rr.requesting_absentee?
  - partial = rr.overseas? ? "overseas" : "domestic"
  = render partial: "registrations/pdf/absentee_request_#{partial}", locals: { rr: rr }

= render partial: 'registrations/pdf/oath', locals: { rr: rr }
