#footer
  .row
    .span4.upcoming
      - ue = AppConfig['upcoming_election']
      %h3= t "footer.upcoming_election.title"

      %h4= raw ue['name']
      %p=  raw ue['date']

      %h4= t "footer.upcoming_election.polling_items"
      %p=  raw ue['polling_times']

      %h4= t "footer.upcoming_election.registration_deadline"
      %p=  raw ue['reg_deadline']

    .span8.additional-info
      .row
        .span4.howto
          %h3= t "footer.how_to_register.title"
          .external-page= ExternalPages.get_by_name :how_to_register

        .span4.contact
          %h3= t "footer.contact.title"
          %h4= raw t("footer.contact.organization")
          %p=  raw t("footer.contact.address")
          %p=  raw t("footer.contact.phones")

          %p

  .row.footer
    .span4 &nbsp;
    .span5
      = link_to 'Home', :root
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'About', :about_page
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'FAQs', :faq_page
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'Help', :help_page
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'Elections', :elections_page
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'Security & Privacy', :security_page
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'Feedback', :feedback_page
    .span3.powered= raw t("footer.powered_by")
