#footer
  .row
    .span4.upcoming
      - ue = AppConfig['upcoming_election']
      %h3 Upcoming Election

      %h4= ue['name']
      %p=  ue['date']

      %h4 Virginia polling times
      %p=  ue['polling_times']

      %h4 Registration deadline
      %p=  ue['reg_deadline']

    .span8.additional-info
      .row
        .span4.howto
          %h3 How to Register
          = render_static_section :howtoregister

        .span4.contact
          %h3 Contact
          %h4 Virginia State Board of Elections
          %p
            Washington Building<br/>
            First Floor<br/>
            1100 Bank Street<br/>
            Richmond, VA 23219

          %p
            (800) 552-9745 Phone<br/>
            (804) 371-0194 Fax<br/>
            info@sbe.virginia.gov Email<br/>
            www.sbe.virginia.gov Web

  .row.footer
    .span4 &nbsp;
    .span5
      = link_to 'Home', :root
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'About', :about_page
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'FAQs', :faq_page
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'Help', :help_page
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'Elections', :elections_page
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'Security', :security_page
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'Feedback', :feedback_page
    .span3.powered
      Powered by Open Source<br/>
      Digital Voting Foundation
