#header
  #menu
    = link_to 'Home', :root
    &nbsp;&nbsp;|&nbsp;&nbsp;
    = link_to 'About', :about_page
    &nbsp;&nbsp;|&nbsp;&nbsp;
    = link_to 'FAQs', :faq_page
    &nbsp;&nbsp;|&nbsp;&nbsp;
    = link_to 'Help', :help_page
  = link_to :root do
    = image_tag AppConfig['logo']['filename'], size: AppConfig['logo']['size'], alt: t("alt.logo")
  %h1= raw t('title')

