#header
  #menu
    = link_to 'Home', :root
    &nbsp;&nbsp;|&nbsp;&nbsp;
    = link_to 'About', :about_page
    &nbsp;&nbsp;|&nbsp;&nbsp;
    = link_to 'FAQs', :faq_page
    &nbsp;&nbsp;|&nbsp;&nbsp;
    = link_to 'Help', :help_page
  = link_to :root do
    = image_tag 'VA_logo.png', size: '90x60'
  %h1= I18n.t('title')

