!!!
%html
  %head
    %title VA Voter Portal Admin
    = stylesheet_link_tag     "admin", :media => "all"
    = javascript_include_tag  "admin"
    = csrf_meta_tags

  %body
    .container
      = render :partial => 'layouts/admin/header'

      .content
        = render :partial => 'layouts/admin/page_header'
        = render :partial => 'layouts/admin/alerts_and_notices'
        = yield
