!!!
%html
  %head
    %title= raw t('title')
    = stylesheet_link_tag "application", :media => "all"
    = custom_css_link_tag 'application_css'
    = csrf_meta_tags
    = include_gon

  %body{ id: @page_id }
    .container
      .content
        = render :partial => 'layouts/header'
        = render :partial => 'layouts/alerts_and_notices'
        = yield
        .external-page
          = ExternalPages.get_by_name :footer
        #sub-footer
          .row.footer
            .span9
              = link_to 'Home', :root
              &nbsp;&nbsp;|&nbsp;&nbsp;
              = link_to 'About', :about_page
              &nbsp;&nbsp;|&nbsp;&nbsp;
              = link_to 'FAQs', :faq_page
              &nbsp;&nbsp;|&nbsp;&nbsp;
              = link_to 'Help', :help_page
              &nbsp;&nbsp;|&nbsp;&nbsp;
              = link_to 'Elections', :elections_page
              &nbsp;&nbsp;|&nbsp;&nbsp;
              = link_to 'Security & Privacy', :security_page
              &nbsp;&nbsp;|&nbsp;&nbsp;
              = link_to 'Feedback', :feedback_page
            .span3.powered
              = image_tag "ttv_grey_poweredby.jpg", style: 'height: 60px; float: right; margin: 0 5px; '
              Powered by Open Source<br/>
              Digital Voting Foundation
              
    = javascript_include_tag  "application"
