!!!
%html
  %head
    %title VA DVM
    = stylesheet_link_tag     "application", :media => "all"
    = javascript_include_tag  "application"
    = csrf_meta_tags

  %body
    .container
      = render :partial => 'layouts/header'

      .content
        = render :partial => 'layouts/page_header'
        = render :partial => 'layouts/alerts_and_notices'
        = yield
