!!!
%html
  %head
    %title= raw t('title')
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = include_gon

  %body{ id: @page_id }
    .container
      .content
        = render :partial => 'layouts/header'
        = render :partial => 'layouts/alerts_and_notices'
        = yield
        = render :partial => 'layouts/footer'

    = javascript_include_tag  "application"
