!!!
%html
  %head
    %title= raw t('title')
    = stylesheet_link_tag "application", :media => "all"
    = custom_css_link_tag 'application_css'
    = csrf_meta_tags
    %meta{name: "viewport", content:"width=device-width, initial-scale=1.0"}
    = include_gon

  %body{ id: @page_id }
    .container
      .content
        = render :partial => 'layouts/header'
        = render :partial => 'layouts/alerts_and_notices'
        = yield
        .external-page
          = ExternalPages.get_by_name :footer
        #sub-footer
          .row.footer
            .span9
              = raw generate_link_list AppConfig['SubfooterLinks']
            .span3.powered
              = image_tag "ttv_grey_poweredby.jpg", style: 'height: 60px; float: right; margin: 0 5px; '
              Powered by Open Source<br/>
              Elections Technology Institute
    = javascript_include_tag  "application"
    = ExternalPages.get_by_name :footer_scripts