!!!
%html
  %head
    %title VA Voter Portal
    = stylesheet_link_tag "mobile", :media => "all"
    = custom_css_link_tag "mobile_css"
    %meta( content='width=device-width,initial-scale=1' name='viewport' )
    = csrf_meta_tags

  %body{ id: @page_id }
    .container
      .content
        #header
          = image_tag '1x1.png', class: 'img_logo', alt: t("alt.logo")
          %h1 Virginia Voter Registration
        = yield

    = javascript_include_tag  "mobile"
